<div class="section resource-sec-1 commonsectionbt">
    <div class="container jumbotron">
      <div class="row mt-5 mb-5">
        <div class="col-md-12">
          
          <h3>
             <a class="synergylink" href="https://www.synergyetherapy.com/select-your-state/" target="_blank" style="color: #002F59;font-family: 'OpenSans-Bold ';font-size: 16px;">NOW PROVIDING ONLINE COUNSELING IN:
              MINNESOTA | IOWA | WISCONSIN | NORTH DAKOTA | ILLINOIS | COLORADO | KANSAS | NEW YORK | NEW JERSEY | MARYLAND | PENNSYLVANIA | MAINE | VERMONT | SOUTH CAROLINA | GEORGIA | FLORIDA | CALIFORNIA
            </a>
        </h3>
        </div>
          <div class="col-md-8">
            <p>At Synergy eTherapy, we offer a variety of online therapy services to help you focus on you. We take the stress out of getting the mental health services you deserve. Synergy eTherapy allows you to attend counseling in the comfort of your surroundings. When you contact Synergy eTherapy, you will meet down-to-earth, kind, and solution-oriented online therapists. We are ready to support you as you find deeper meaning in your busy life.</p>
          </div>
          
           
        <div class="col-md-4">
           <a href="https://www.synergyetherapy.com/" target="_blank"><img class="resourcepagelogo" src="assets/img/resource/synergy-logo.png" alt="logo"></a> 
        </div>
       
    </div>
        <div class="row" style="background-color: #DC773D;padding-top: 20px;padding-bottom: 20px;margin-right: 1px;margin-left: 0px;">
          <div class="col-md-3 ">
              <img src="assets/img/resource/cms-logo.png"  style="width:100%;"/>
          </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 mt-4">
                <h2>Physicians and Other Clinicians: <span style="color: #002F59;font-size: 16px;font-family: 'OpenSans-Bold';">CMS Flexibilities to Fight COVID-19</span></h2>
                <p>The Trump Administration is issuing an unprecedented array of temporary regulatory waivers and new
                  rules to equip the American healthcare system with maximum flexibility to respond to the 2019 Novel
                  Coronavirus (COVID-19) pandemic. Made possible by President Trump’s recent emergency declaration
                  and emergency rule making, these temporary changes will apply immediately across the entire U.S.
                  healthcare system for the duration of the emergency declaration. The goals of these actions are to 1) to
                  ensure that local hospitals and health systems have the capacity to handle a potential surge of COVID-19
                  patients through temporary expansion sites (also known as CMS Hospital Without Walls); 2) remove
                  barriers for physicians, nurses, and other clinicians to be readily hired from the community or from other
                  states so the healthcare system can rapidly expands its workforce; 3) increase access to telehealth in
                  Medicare to ensure patients have access to physicians and other clinicians while keeping patients safe
                  at home; 4) expand in-place testing to allow for more testing at home or in community based settings;
                  and 5) put Patients Over Paperwork to give temporary relief from many paperwork, reporting and audit
                  requirements so providers, health care facilities, Medicare Advantage and Part D plans, and States can
                  focus on providing needed care to Medicare and Medicaid beneficiaries affected by COVID-19</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Medicare Telehealth </h2>
                <p>Clinicians can now provide more services to beneficiaries via telehealth so that clinicians can take care of
                  their patients while mitigating the risk of the spread of the virus. Under the public health emergency, all
                  beneficiaries across the country can receive Medicare telehealth and other communications technologybased services wherever they are located. Clinicians can provide these services to new or established
                  patients. In addition, providers can waive Medicare copayments for these telehealth services for
                  beneficiaries in Original Medicare.<br>
                  To enable services to continue while lowering exposure risk, clinicians can now provide the following
                  additional services by telehealth: </p>
                  <ul>
                      <li>Emergency Department Visits, Levels 1-5 (CPT codes 99281-99285)</li>
                      <li>Initial and Subsequent Observation and Observation Discharge Day Management (CPT codes
                        99217- 99220; CPT codes 99224- 99226; CPT codes 99234- 99236)</li>
                      <li>Initial hospital care and hospital discharge day management (CPT codes 99221-99223; CPT
                          codes 99238- 99239)</li>
                      <li>Initial nursing facility visits, All levels (Low, Moderate, and High Complexity) and nursing facility
                        discharge day management (CPT codes 99304-99306; CPT codes 99315-99316)</li>
                        <li>Critical Care Services (CPT codes 99291-99292)</li>
                        <li>Domiciliary, Rest Home, or Custodial Care services, New and Established patients (CPT codes
                          99327- 99328; CPT codes 99334-99337)</li>
                        <li>Home Visits, New and Established Patient, All levels (CPT codes 99341- 99345; CPT codes
                            99347- 99350)</li>
                        <li>Inpatient Neonatal and Pediatric Critical Care, Initial and Subsequent (CPT codes 99468- 99473;
                              CPT codes 99475- 99476)</li>
                        <li>Initial and Continuing Intensive Care Services (CPT code 99477- 994780)</li>
                          <li>Care Planning for Patients with Cognitive Impairment (CPT code 99483)</li>
                          <li>Psychological and Neuropsychological Testing (CPT codes 96130- 96133; CPT codes 96136- 96139)</li>
                          <li>Therapy Services, Physical and Occupational Therapy, All levels (CPT codes 97161- 97168; CPT codes
                            97110, 97112, 97116, 97535, 97750, 97755, 97760, 97761, 92521- 92524, 92507)</li>
                          <li>Radiation Treatment Management Services (CPT codes 77427)</li>
                          <li>Licensed clinical social worker services, clinical psychologist services, physical therapy services,
                            occupational therapist services, and speech language pathology services can be paid for as
                            Medicare telehealth services</li>
                         
                    </ul>
                    <p>A complete list of all Medicare telehealth services can be found here:
                     <a href="https://www.cms.gov/Medicare/Medicare-General-Information/Telehealth/Telehealth-Codes" style="color:red">https://www.cms.gov/Medicare/Medicare-General-Information/Telehealth/Telehealth-Codes</a> </p>
                     <h2>Virtual Check-Ins & E-Visits</h2>
                     <ul>
                       <li>Additionally, clinicians can provide virtual check-in services (HCPCS codes G2010, G2012) to both
                        new and established patients. Virtual check-in services were previously limited to established
                        patients.</li>
                        <li>Licensed clinical social workers, clinical psychologists, physical therapists, occupational therapists,
                          and speech language pathologists can provide e-visits. (HCPCS codes G2061-G2063).</li>
                        <li>A broad range of clinicians, including physicians, can now provide certain services by telephone to
                          their patients (CPT codes 98966 -98968; 99441-99443)</li>
                     </ul>
                     <h2>Remote Patient Monitoring</h2>
                     <ul >
                       <li>Clinicians can provide remote patient monitoring services to both new and established patients.
                        These services can be provided for both acute and chronic conditions and can now be provided for
                        patients with only one disease. For example, remote patient monitoring can be used to monitor a
                        patient’s oxygen saturation levels using pulse oximetry. (CPT codes 99091, 99457-99458, 99473-
                        99474, 99493-99494)</li>
                       
                     </ul>
                     <h2>Removal of Frequency Limitations on Medicare Telehealth</h2>
                     <p>To better serve the patient population that would otherwise not have access to clinically appropriate
                      in-person treatment, the following services no longer have limitations on the number of times they can
                      be provided by Medicare telehealth: </p>
                     <ul   >
                       <li>A subsequent inpatient visit can be furnished via Medicare telehealth, without the limitation that
                        the telehealth visit is once every three days (CPT codes 99231-99233);</li>
                        <li>A subsequent skilled nursing facility visit can be furnished via Medicare telehealth, without the
                          limitation that the telehealth visit is once every 30 days (CPT codes 99307-99310)</li>
                      <li>Critical care consult codes may be furnished to a Medicare beneficiary by telehealth beyond the
                        once per day limitation (CPT codes G0508-G0509).</li>
                       
                     </ul>
                     <h2>Other Medicare Telehealth and Remote Patient Care</h2>
                     <ul>
                       <li>For Medicare patients with End Stage Renal Disease (ESRD), clinicians no longer must have one
                        “hands on” visit per month for the current required clinical examination of the vascular access site.</li>
                        <li>For Medicare patients with ESRD, we are exercising enforcement discretion on the following
                          requirement so that clinicians can provide this service via telehealth: individuals must receive a
                          face-to-face visit, without the use of telehealth, at least monthly in the case of the initial 3 months of
                          home dialysis and at least once every 3 consecutive months after the initial 3 months.</li>
                        <li>To the extent that a National Coverage Determination (NCD) or Local Coverage Determination (LCD)
                          would otherwise require a face-to-face visit for evaluations and assessments, clinicians would not
                          have to meet those requirements during the public health emergency</li>
                        <li>Beneficiary consent should not interfere with the provision of telehealth services. Annual consent
                          may be obtained at the same time, and not necessarily before, the time that services are furnished.</li>
                        <li>Physician visits: CMS is waiving the requirement in 42 CFR 483.30 for physicians and non-physician
                          practitioners to perform in-person visits for nursing home residents and allow visits to be conducted,
                          as appropriate, via telehealth options.</li>
                     </ul>
                     <h2>Workforce </h2>
                     <ul   >
                       <li><span>Medicare Physician Supervision requirements: </span> For services requiring direct supervision by the
                        physician or other practitioner, that physician supervision can be provided virtually using real-time
                        audio/video technology.</li>
                       <li><span>Medicare Physician Supervision and Auxiliary Personnel: </span>The physician can enter into a contractual
                        arrangement that meets the definition of auxiliary personnel at 42 CFR 410.26, including with staff
                        of another provider/supplier type, such as a home health agency (defined under § 1861(o) of the
                        Act) or a qualified home infusion therapy supplier (defined under § 1861(iii)(3)(D)), or entities that
                        furnish ambulance services, that can provide the staff and technology necessary to provide care that
                        would ordinarily be provided incident to a physicians’ service (including services that are allowed to
                        be performed via telehealth). In such instances, the provider/supplier would seek payment for any
                        services provided by auxiliary personnel from the billing practitioner and would not submit claims to
                        Medicare for such services</li>
                       <li><span>Medicare Physician Supervision requirements: </span>Direct physician supervision is no longer required for
                        non-surgical extended duration therapeutic services provided in hospital outpatient departments
                        and critical access hospitals. Instead, a physician can provide a general level of supervision for these
                        services so that a physician is no longer required to be immediately available in the office suite.</li>
                       <li><span> Physician Services: </span>CMS is waiving 482.12(c)(1-2) and (4), which requires that Medicare patients in
                        the hospital be under the care of a physician. This allows hospitals to use other practitioners, such
                        as physician’s assistant and nurse practitioners, to the fullest extent possible. This waiver should be
                        implemented in accordance with a state’s emergency preparedness or pandemic plan.</li>
                       <li><span>National coverage determinations (NCDs) and Local Coverage Determinations (LCDs): </span>To the extent
                        NCDs and LCDs require a specific practitioner type or physician specialty to furnish or supervise a
                        service, during this public health emergency, the Chief Medical Officer or equivalent of a hospital or
                        facility will have the authority to make those staffing decisions.</li>
                       <li><span>Practitioner Locations: </span>Temporarily waive Medicare and Medicaid’s requirements that physicians
                        and non-physician practitioners be licensed in the state where they are providing services. State
                        requirements will still apply. CMS waives the Medicare requirement that a physician or non-physician
                        practitioner must be licensed in the State in which s/he is practicing for individuals for whom the
                        following four conditions are met: 1) must be enrolled as such in the Medicare program, 2) must
                        possess a valid license to practice in the State which relates to his or her Medicare enrollment, 3)
                        is furnishing services – whether in person or via telehealth – in a State in which the emergency
                        is occurring in order to contribute to relief efforts in his or her professional capacity, and 4) is
                        not affirmatively excluded from practice in the State or any other State that is part of the 1135
                        emergency area. A physician or non-physician practitioner may seek an 1135-based licensure
                        waiver from CMS by contacting the provider enrollment hotline for the Medicare Administrative
                        Contractor that services their geographic area. This waiver does not have the effect of waiving State
                        or local licensure requirements or any requirement specified by the State or a local government as a
                        condition for waiving its licensure requirements</li>
                        <li><span>Provider Enrollment: </span>CMS has established toll-free hotlines for physicians, non-physician
                          practitioners and Part A certified providers and suppliers establishing isolation facilities to enroll and
                          receive temporary Medicare billing privileges. CMS is providing the following flexibilities for provider
                          enrollment:
                          <ul   >
                              <li>Waive certain screening requirements</li>
                              <li>Postpone all revalidation actions.</li>
                              <li>Allow licensed physicians and other practitioners to bill Medicare for services provided outside of
                                their state of enrollment</li>
                              <li>Expedite any pending or new applications from providers</li>
                              <li>Allow practitioners to render telehealth services from their home without reporting their home
                                address on their Medicare enrollment while continuing to bill from your currently enrolled
                                location.</li>
                                <li>Allow opted-out practitioners to terminate their opt-out status early and enroll in Medicare to
                                  provide care to more patients</li>
                          </ul>
                        </li>
                     </ul>
                     <h2>Patients Over Paperwork</h2>
                     <ul   >
                       <li><span>“Stark Law” Waivers: </span>The physician self-referral law (also known as the “Stark Law”) prohibits a
                        physician from making referrals for certain healthcare services payable by Medicare if the physician
                        (or an immediate family member) has a financial relationship with the entity performing the service.
                        There are statutory and regulatory exceptions, but in short, a physician cannot refer a patient to any
                        entity with which he or she has a financial relationship. CMS will permit certain referrals and the
                        submission of related claims that would otherwise violate the Stark Law. They include:
                        <ul>
                          <li>
                            Hospitals and other health care providers can pay above or below fair market value to rent
equipment or receive services from physicians (or vice versa). For example, a physician practice
may be willing to rent or sell needed equipment to a hospital at a price that is below what the
practice could charge another party. Or, a hospital may provide space on hospital grounds at no
charge to a physician who is willing to treat patients who seek care at the hospital but are not
appropriate for emergency department or inpatient care
                          </li>
                          <li>Health care providers can support each other financially to ensure continuity of health care
                            operations. For example, a physician owner of a hospital may make a personal loan to the
                            hospital without charging interest at a fair market rate so that the hospital can make payroll or
                            pay its vendors.</li>
                            <li>Hospitals can provide benefits to their medical staffs, such as multiple daily meals, laundry service
                              to launder soiled personal clothing, or child care services while the physicians are at the hospital
                              and engaging in activities that benefit the hospital and its patients.</li>
                              <li>Allowing the provision of certain items and services that are solely related to COVID-19 Purposes
                                (as defined in the waivers), even when the provision of the items or services would exceed
                                the annual non-monetary compensation cap. For example, a home health agency may provide
                                continuing medical education to physicians in the community on the latest care protocols for
                                homebound patients with COVID-19, or a hospital may provide isolation shelter or meals to the
                                family of a physician who was exposed to the novel coronavirus while working in the hospital’s
                                emergency department.</li>
                                <li>Physician-owned hospitals can temporarily increase the number of their licensed beds, operating
                                  rooms, and procedure rooms, even though such expansion would otherwise be prohibited under
                                  the Stark Law. For example, a physician-owned hospital may temporarily convert observation beds
                                  to inpatient beds to accommodate patient surge during the COVID-19 pandemic in the United
                                  States.</li>
                                  <li>Loosen some of the restrictions when a group practice can furnish medically necessary designated
                                    health services (DHS) in a patient’s home. For example, any physician in the group may order
                                    medically necessary DHS that is furnished to a patient by a technician or nurse in the patient’s
                                    home contemporaneously with a physician service that is furnished via telehealth by the physician
                                    who ordered the DHS.</li>
                                <li>Group practices can furnish medically necessary MRIs, CT scans or clinical laboratory services from
                                  locations like mobile vans in parking lots that the group practice rents on a part-time basis.</li>

                        </ul>
                      </li>
                      <li><span>National Coverage Determinations (NCDs) and Local Coverage Determinations (LCDs) on Respiratory
                        Related Devices, Oxygen and Oxygen Equipment, Home Infusion Pumps and Home Anticoagulation
                        Therapy:</span> Clinicians now have maximum flexibility in determining patient needs for respiratory
                        related devices and equipment and the flexibility for more patients to manage their treatments at
                        the home. The current NCDs and LCDs that restrict coverage of these devices and services to patients
                        with certain clinical characteristics do not apply during the public health emergency. For example,
                        Medicare will cover non-invasive ventilators, respiratory assist devices and continuous positive
                        airway pressure devices based on the clinician’s assessment of the patient</li>
                        <li><span>Signature Requirements:</span> CMS is waiving signature and proof of delivery requirements for Part B
                          drugs and Durable Medical Equipment when a signature cannot be obtained because of the inability
                          to collect signatures. Suppliers should document in the medical record the appropriate date of
                          delivery and that a signature was not able to be obtained because of COVID-19.</li>
                          <li><span>Changes to MIPS:</span> We are making two updates to the Merit-based Incentive Payment System
                            (MIPS) in the Quality Payment Program. We are modifying the MIPS Extreme and Uncontrollable
                            Circumstances policy to allow clinicians who have been adversely affected by the COVID-19 public
                            health emergency to submit an application and request reweighting of the MIPS performance
                            categories for the 2019 performance year. This is an important change that allows clinicians who
                            have been impacted by the COVID-19 outbreak and may be unable to submit their MIPS data
                            during the current submission period, to request reweighting and potentially receive a neutral MIPS
                            payment adjustment for the 2021 payment year. Additionally, we are adding one new Improvement
                            Activity for the CY 2020 performance year that, if selected, would provide high-weighted credit for
                            clinicians within the MIPS Improvement Activities performance category. Clinicians will receive credit
                            for this Improvement Activity by participating in a clinical trial utilizing a drug or biological product to
                            treat a patient with COVID-19 and then reporting their findings to a clinical data repository or clinical
                            data registry. This would help contribute to a clinicians overall MIPS final score, while providing
                            important data to help treat patients and address the current COVID-19 pandemic.</li>
                            <li><span>Accelerated/Advance Payments:</span> In order to increase cash flow to providers impacted by COVID-19,
                              CMS has expanded our current Accelerated and Advance Payment Program. An accelerated/advance
                              payment is a payment intended to provide necessary funds when there is a disruption in claims
                              submission and/or claims processing. CMS is authorized to provide accelerated or advance payments
                              during the period of the public health emergency to any Medicare provider/supplier who submits
                              a request to the appropriate Medicare Administrative Contractor (MAC) and meets the required
                              qualifications. Each MAC will work to review requests and issue payments within seven calendar days
                              of receiving the request. Traditionally repayment of these advance/accelerated payments begins at
                              90 days, however for the purposes of the COVID-19 pandemic, CMS has extended the repayment of
                              these accelerated/advance payments to begin 120 days after the date of issuance of the payment.
                              Providers can get more information on this process here:<a style="color:#212529" href="https://www.cms.gov/files/document/Accelerated-and-Advanced-Payments-Fact-Sheet.pdf" class="medicare">https://www.cms.gov/files/document/Accelerated-and-Advanced-Payments-Fact-Sheet.pdf</a></li>
                     </ul>
                     <h2>Medicare appeals in Fee for Service, Medicare Advantage (MA) and Part D</h2>
                     <ul   >
                       <li>CMS is allowing Medicare Administrative Contractors (MACs) and Qualified Independent Contractor
                        (QICs) in the FFS program 42 CFR 405.942 and 42 CFR 405.962 and MA and Part D plans, as well as
                        the Part C and Part D Independent Review Entity (IREs), 42 CFR 562, 42 CFR 423.562, 42 CFR 422.582
                        and 42 CFR 423.582 to allow extensions to file an appeal;</li>
                        <li>CMS is allowing MACs and QICs in the FFS program 42 CFR 405. 950 and 42 CFR 405.966 and the
                          Part C and Part D IREs to waive requirements for timeliness for requests for additional information to
                          adjudicate appeals; MA plans may extend the timeframe to adjudicate organization determinations
                          and reconsiderations for medical items and services (but not Part B drugs) by up to 14 calendar days
                          if: the enrollee requests the extension; the extension is justified and in the enrollee’s interest due
                          to the need for additional medical evidence from a noncontract provider that may change an MA
                          organization’s decision to deny an item or service; or, the extension is justified due to extraordinary,
                          exigent, or other non-routine circumstances and is in the enrollee’s interest 42 CFR § 422.568(b)(1)
                          (i), § 422.572(b)(1) and § 422.590(f)(1);</li>
                          <li>CMS is allowing MACs and QICs in the FFS program 42 C.F.R 405.910 and MA and Part D plans,
                            as well as the Part C and Part D IREs to process an appeal even with incomplete Appointment of
                            Representation forms 42 CFR § 422.561, 42 CFR § 423.560. However, any communications will only
                            be sent to the beneficiary;</li>
                          <li>CMS is allowing MACs and QICs in the FFS program 42 CFR 405. 950 and 42 CFR 405.966 and MA and
                            Part D plans, as well as the Part C and Part D IREs to process requests for appeal that don’t meet the
                            required elements using information that is available 42 CFR § 422.562, 42 CFR § 423.562.</li>
                          <li>CMS is allowing MACs and QICs in the FFS program 42 CFR 405. 950 and 42 CFR 405.966 and MA
                            and Part D plans, as well as the Part C and Part D IREs, 42 CFR 422.562, 42 CFR 423.562 to utilize all
                            flexibilities available in the appeal process as if good cause requirements are satisfied.</li>
                            
                     </ul>
                     <h2>Additional Guidance </h2>
                     <ul   >
                       <li>The Interim Final Rule and waivers can be found at:<a  style="color:red" href="https://www.cms.gov/about-cms/emergency-preparedness-response-operations/current-emergencies/coronavirus-waivers">https://www.cms.gov/about-cms/emergency-preparedness-response-operations/current-emergencies/coronavirus-waivers</a></li>
                       <li>CMS has released guidance to providers related to relaxed reporting requirements for quality
                        reporting programs at <a style="color:red" href="https://www.cms.gov/newsroom/press-releases/cms-announces-relief-clinicians-providers-hospitals-and-facilities-participating-quality-reporting">https://www.cms.gov/newsroom/press-releases/cms-announces-relief-clinicians-providers-hospitals-and-facilities-participating-quality-reportingss</a></li>
                     </ul>
                </div>
    
        </div>
    
       
    </div>
  </div>