<section class="service-sec-1 section" *ngIf="datamessage == 'English'">
  <div class="container">
    <div class="row">
      <div class="col-md-7 service-banner">
        <h2 class="title-head mb-4">
          Your Mental Health<br />
          Is Our Priority
        </h2>
        <button class="downloadbtn">
          <img src="assets/img/home/goolgeplayeng.png" />
        </button>
        <button class="downloadbtn">
          <img src="assets/img/home/appstoreeng.png" />
        </button>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 homemobilebannerimgcont">
        <img src="assets/img/service/service-mobile-bannerimg.png" class="homemobilebannerimg">
     </div>

    </div>
  </div>
</section>

<section class="service-sec-2 section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2 class="title-head">When do you need Therapy / Counselling?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="service-sec2-card">
          <img src="assets/img/service/manpic.png" alt="" />
          <div
            style="background: #f5f5f5 0% 0% no-repeat padding-box; height: 1px"
          ></div>
          <p class="servicesec2commontext">
            If you feeling upset for most part of the day for 2 weeks or more.
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-sec2-card">
          <img src="assets/img/service/Femailimg.png" alt="" />
          <div
            style="background: #f5f5f5 0% 0% no-repeat padding-box; height: 1px"
          ></div>
          <p class="servicesec2commontext">
            If you are not able to stop yourself from constantly worried over
            something.
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-sec2-card">
          <img src="assets/img/service/hostiptalbed.png" alt="" />
          <div
            style="background: #f5f5f5 0% 0% no-repeat padding-box; height: 1px"
          ></div>
          <p class="servicesec2commontext">
            If you are not able to sleep well.
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-sec2-card">
          <img src="assets/img/service/separate-125793.png" alt="" />
          <div
            style="background: #f5f5f5 0% 0% no-repeat padding-box; height: 1px"
          ></div>
          <p class="servicesec2commontext">
            Don't feel like interacting with people.
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-sec2-card">
          <img src="assets/img/service/manlogo.png" alt="" />
          <div
            style="background: #f5f5f5 0% 0% no-repeat padding-box; height: 1px"
          ></div>
          <p class="servicesec2commontext">
            If you are not able to focus on work / academics.
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-sec2-card">
          <img src="assets/img/service/Group123.png" alt="" />
          <div
            style="background: #f5f5f5 0% 0% no-repeat padding-box; height: 1px"
          ></div>
          <p class="servicesec2commontext">Feeling tired or lethargic.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="service-sec-3 section commonsectionmt">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="title-head pt-5">Why Chat-A-Doc?</h2>
        <ul>
          <li>
            <img src="assets/img/service/tap.png" alt="tap" /> Counselling just
            a click away
          </li>
          <li>
            <img src="assets/img/service/tap.png" alt="tap" /> Safe and
            Confidential
          </li>
          <li>
            <img src="assets/img/service/tap.png" alt="tap" /> Accomplished and
            licensed professionals
          </li>
          <li>
            <img src="assets/img/service/tap.png" alt="tap" /> Judgment Free
            Space
          </li>
          <li>
            <img src="assets/img/service/tap.png" alt="tap" /> Secure Platform-
            HIPPA compliant & 256-Bit SSL Secure
          </li>
        </ul>
        <div class="servicedownloadbtncontaner">
          <span>Download App</span>
          <a href="">
            <img src="assets/img/service/android.png" />
          </a>
          <a href="">
            <img src="assets/img/service/ios.png" />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <img
          src="assets/img/service/service-sec-3-mobileimg.png"
          class="whychatadocimg"
          alt=""
        />
      </div>
    </div>
    <!---Hindi-->
  </div>
</section>

<section class="service-sec-4 commonsectionmt">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2 class="title-head">Stories Of Most Successful</h2>
      </div>
    </div>
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/service/dipika.png" class="img" />
            </div>
            <div class="col-md-6">
              <h3>Deepika Padukone</h3>
              <p>
                Leading actress Deepika Padukone comes out to share her
                diagnosis with depression during the time of her 'professional
                high' She shares how important it is to maintain a good diet,
                proper sleep, exercise, hydration and practice mindfulness to
                prevent relapse. Now she runs a leading mental health Foundation
                - Live Love Laugh
              </p>
              <div class="reflink"><a href="https://www.cnbc.com/2020/01/29/bollywoods-deepika-padukones-battle-with-mental-illness-depression.html" target="_blank">Ref. cnbc.com</a></div>
              <button class="takeyourfirststep">
                Take Your First Step Today!
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/service/kapil.png" class="img" />
            </div>
            <div class="col-md-6">
              <h3>Kapil Sharma</h3>
              <p>
                the household name who brings smile and laughter to every Indian
                househole, was once finding it difficult to smile. Kapil Sharma
                shares his struggle with Depression; talks about the importance
                of support system and the need to seek help
              </p>
              <div class="reflink"><a href="https://timesofindia.indiatimes.com/web-series/news/hindi/kapil-sharma-opens-up-on-battling-depression-i-had-stopped-smiling/articleshow/89180837.cms" target="_blank">Ref. timesofindia</a></div>
              <button class="takeyourfirststep">
                Take Your First Step Today!
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
         <div class="row">
           <div class="col-md-6">
             <img src="assets/img/service/harry.png" class="img" />
           </div>
           <div class="col-md-6">
             <h3>Prince Harry</h3>
             <p>
               Prince Harry talks about his 2 deacades of mental health struggle, after he lost his mother at the age of 12. He opens up about how he had felt not thinking of his mother would help him heal better, but only to realize how suppressing pain had repercussions in his late twenties 
             </p>
             <div class="reflink"><a href="https://www.forbes.com/sites/ceciliarodriguez/2017/04/18/prince-harry-opens-up-about-his-20-years-of-mental-struggle/?sh=143a1a2f78ab" target="_blank">Ref. forbes.com</a></div>
             <button class="takeyourfirststep">
               Take Your First Step Today!
             </button>
           </div>
         </div>
       </div>
       <div class="swiper-slide">
         <div class="row">
           <div class="col-md-6">
             <img src="assets/img/service/abraham.png" class="img" />
           </div>
           <div class="col-md-6">
             <h3>Abhraham Lincoln</h3>
             <p>
               Abhraham Lincoln struggled with deep sorrows and incapacitating melancholy, but that gave him the courage to deal with major crisis as a President. His childhood miseries and losses have all contributed to what was then called as "Melancholy" 
             </p>
             <div class="reflink"><a href="https://www.theatlantic.com/magazine/archive/2005/10/lincolns-great-depression/304247/" target="_blank">Ref. theatlantic.com</a></div>
             <button class="takeyourfirststep">
               Take Your First Step Today!
             </button>
           </div>
         </div>
       </div>

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </div>
</section>

<section class="service-sec-5 commonsectionmt pt-5 pb-5">
  <div class="container">
    <div class="row">
      <h2 class="title-head" style="color: #fff">Our Advisory Board</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <swiper [config]="config2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="ouradvisoryboardimgcontainer">
                <img
                  src="assets/img/service/dr3.png"
                  class="drimg"
                  alt="Get your perscription"
                />
                <img
                  src="assets/img/service/Path.png"
                  class="pathimg"
                  alt="Get your perscription"
                />

                <!-- <img src="assets/img/new-home/Ellipse 20.png" alt="Get your perscription" style="height: 168px;margin: 9px 0px 0px -6px;position: relative;z-index: 1010;"/>
                  <img src="assets/img/new-home/Ellipse 21.png" alt="Get your perscription" style="height: 168px;margin: 9px 0px 0px -6px;"/> -->
              </div>
              <div class="ouradvisoryboardcontentcontainer">
                <h3>Ms. Gargi Chakraborty, Mphil</h3>
                <h5>Clinical Psychologist</h5>
                <p class="connecttextnow">
                  Gargi Chakraborty, a Clinical Psychologist, with 7 years of
                  experience, strives to create a safe space for her clients
                  through building an evidence-based and ethical
                  psycho-therapeutic relationship. She has been active in
                  voicing mental health awareness in different media platforms
                  and is an ardent researcher, recently being associated with
                  NIMHANS. She is an expert in Mindfulness Based Cognitive
                  Behavioural Interventions, Individual therapy for adults,
                  Couples' therapy, Sex therapy, and deals with any kind of
                  emotional and behavioural issues, work related stress,
                  adjustment issues, anger management and overall mental
                  well-being.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ouradvisoryboardimgcontainer">
                <img
                  src="assets/img/service/dr2.png"
                  class="drimg"
                  alt="Get your perscription"
                />
                <img
                  src="assets/img/service/Path.png"
                  class="pathimg"
                  alt="Get your perscription"
                />

                <!-- <img src="assets/img/new-home/Ellipse 20.png" alt="Get your perscription" style="height: 168px;margin: 9px 0px 0px -6px;position: relative;z-index: 1010;"/>
                  <img src="assets/img/new-home/Ellipse 21.png" alt="Get your perscription" style="height: 168px;margin: 9px 0px 0px -6px;"/> -->
              </div>
              <div class="ouradvisoryboardcontentcontainer">
                <h3>Ms. Vichitra D Anand</h3>
                <h5>M.A Applied Psychology, Trained Relationship Therapist</h5>
                <p class="connecttextnow">
                  Vichitra Dargan Anand is an Applied Psychologist and a
                  Relationship Therapist with a keen interest in marital
                  counselling and parenting. She has been an NIE consultant with
                  the Times of India in Chandigarh and has contributed articles
                  for the publication, besides doing a regular helpline column
                  for students in the Education Times. She has worked
                  extensively in the Indian Air Force as a freelance
                  psychological consultant and conducted training programmes for
                  Air Warriors and their families. She is also a motivational
                  speaker and is a regular columnist for the magazine Sakhi.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ouradvisoryboardimgcontainer">
                <img
                  src="assets/img/service/dr1.png"
                  class="drimg"
                  alt="Get your perscription"
                />
                <img
                  src="assets/img/service/Path.png"
                  class="pathimg"
                  alt="Get your perscription"
                />

                <!-- <img src="assets/img/new-home/Ellipse 20.png" alt="Get your perscription" style="height: 168px;margin: 9px 0px 0px -6px;position: relative;z-index: 1010;"/>
                  <img src="assets/img/new-home/Ellipse 21.png" alt="Get your perscription" style="height: 168px;margin: 9px 0px 0px -6px;"/> -->
              </div>
              <div class="ouradvisoryboardcontentcontainer">
                <h3>Ms. Priyanka Bhattacharjee, Mphil</h3>
                <h5>Senior Clinical Psychologist</h5>
                <p class="connecttextnow">
                  Priyanka has been working for the past 7 .5 years.She is a
                  two-time Gold Medal Awardee is her Post-Graduation and MPhil;
                  she has completed her Graduation and Post- Graduation from
                  Gauhati University and she was awarded with Certificate for
                  Academic Excellence in her Post Graduation from Gauhati
                  University. She has further completed her M.Phil. in Clinical
                  Psychology under Rehabilitation Council of India. Her fields
                  of interests and expertise include Child and Developmental
                  Psychology, Child and Adolescents Psychotherapy & Counselling,
                  Diagnosis and Management of Children with Disabilities, Adult
                  Mental Health Issues-Psycho-diagnosis & Psychotherapy
                  (Including CBT and CBT based modalities), Behavioural
                  Assessments, Parental Counselling, Assessment of Personality
                  and Aptitude, and varied psychiatric conditions like Mood
                  Disoders, Stress and Anxiety related disorders like OCD, GAD,
                  Phobias, Personality Disorders, Psychotic Spectrum Disorders,
                  Substance and Behvaioral Addiction, Couple counselling
                </p>
              </div>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </swiper>
      </div>
      <div class="col-md-12 mt-3 text-center">
        <button class="btn connectnow">Connect Now</button>
      </div>
    </div>
  </div>
</section>

<section class="service-sec-6 commonsectionmt">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2 class="title-head">
          Testimonials - As People Share Their Thoughts About Us….
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <swiper [config]="config3">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="servicecaersec-6">
                <div class="row">
                  <div class="col-2 col-sm-2  col-md-2  col-lg-2 ">
                    <img
                      src="assets/img/service/girldami.png"
                      alt="Get your perscription"
                    />
                  </div>
                  <div class="col-8 col-sm-8  col-md-8  col-lg-8 "><h3 class="testimonialtitle">Aisha</h3></div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="cardline"></div>
                    <p class="testimonialtext">
                      Chat-A-Doc application is very easy to use and I received
                      an all round support for my ongoing mental health
                      condition which I had been struggling past 5 years.
                      Experts are very helpful and very approachable. They had
                      answers to all my questions.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="servicecaersec-6">
                <div class="row">
                  <div class="col-2 col-sm-2  col-md-2  col-lg-2 ">
                    <img
                      src="assets/img/service/girldami.png"
                      alt="Get your perscription"
                    />
                  </div>
                  <div class="col-8 col-sm-8  col-md-8  col-lg-8 "><h3 class="testimonialtitle">Praveen</h3></div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="cardline"></div>
                    <p class="testimonialtext">
                      Chat-A-Doc just gave me a perfect resolution for my
                      increased stress for past 4 months. 4months back I was in
                      a bad shape and today I can see a lot of change only
                      because of therapy. See a therapist today if you have
                      stress. Do not ignore your stress.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="servicecaersec-6">
                <div class="row">
                  <div class="col-2 col-sm-2  col-md-2  col-lg-2 ">
                    <img
                      src="assets/img/service/girldami.png"
                      alt="Get your perscription"
                    />
                  </div>
                  <div class="col-8 col-sm-8  col-md-8  col-lg-8 "><h3 class="testimonialtitle">Saurav</h3></div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="cardline"></div>
                    <p class="testimonialtext">
                      3 years back when I was diagnosed with severe depression
                      and I was prescribed with medication, I felt a kind
                      embarrassment. Today after being referred to Chat-A-Doc
                      for counselling sessions I have a new way of seeing myself
                      and I feel more confident
                    </p>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </swiper>
      </div>
    </div>
  </div>
</section>

<section class="service-sec-7 commonsectionmt commonsectionbt">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2 class="title title3width commontitle">Frequently Ask Questions</h2>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 mb-3" *ngFor="let item of quetionList">
          <div
            class="commonpad"
            [ngClass]="item.t == 'true' ? 'defultshow' : 'hiding'"
            (click)="doctorhide(item)"
          >
            <div class="pline">{{ item.title }}</div>
            <!-- <img src="assets/img/service/" alt="Get your perscription" class="imgarrwo"/> -->
            <i class="fa fa-angle-left iconCustom" aria-hidden="true"></i>
            <div class="Ckekbox1" *ngIf="item.t == 'true'">
              {{ item.description }}
            </div>
          </div>
        </div>
        <!-- <div class="col-md-12 text-center">
          <button class="morequestionbtn">More Question</button>
        </div> -->
      </div>
    </div>
  </div>
</section>
