

    <!-- <app-header></app-header> -->

    <main id="main">
      <!-- <div class="hero-section wsec-0 inner-page" style="background-image: url('assets/img/work/work_banner.jpg');height: 80vh;">
        <div class="container">
          <div class="row align-items-center ">
            <div class="col-12">
              <div class="row justify-content-left">
                <div class="col-md-6 hovershow text-center hero-text " style="height: 300px;margin-top:0px;position: relative;">
                  <div style="position:relative;height:120px;margin-top:100px;">
                    <div class="work-h1">
                      <h1 class="h1" style="color:#000"  data-aos="fade-up" data-aos-delay="">Privacy & Policy</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="section wsec-1">
        <div class="container bg-white p-5">
            <div class="row">
               <div class="col-md-12">
                 <h1 class="text-center pt-5 pb-3">Privacy Policy</h1>
                 <h3>Your Information. Your Rights. Our Responsibilities.</h3>
                 <p>This notice describes how medical information about you may be used and disclosed and how you can get access to this information. Please review it carefully.</p>
                 <h3>Your Rights</h3>
                 <p>You have the right to: </p>
                 <ul class="commonul" >
                  <li>Get a copy of your paper or electronic medical record</li>
                  <li>Correct your paper or electronic medical record</li>
                  <li>Request confidential communication</li>
                  <li>Ask us to limit the information we share</li>
                  <li>Get a list of those with whom we’ve shared your information</li>
                  <li>Get a copy of this privacy notice</li>
                  <li>Choose someone to act for you</li>
                  <li>File a complaint if you believe your privacy rights have been violated</li>
                  
                 </ul>
                 <h3>Your Choices</h3>
                 <p>You have some choices in the way that we use and share information as we: </p>
                 <ul class="commonul">
                  <li>Tell family and friends about your condition</li>
                  <li>Provide disaster relief</li>
                  <li>Include you in a hospital directory</li>
                  <li>Provide mental health care</li>
                  <li>Market our services and sell your information</li>
                  <li>Raise funds</li>
                  
                 </ul>
                 <h3>Our Uses and Disclosures</h3>
                 <p>We may use and share your information as we: </p>
                 <ul class="commonul">
                  <li>	Treat you</li>
                  <li>	Run our organization</li>
                  <li>	Bill for your services</li>
                  <li>	Help with public health and safety issues</li>
                  <li>	Do research</li>
                  <li>	Comply with the law</li>
                  <li>	Respond to organ and tissue donation requests</li>
                  <li>	Work with a medical examiner or funeral director</li>
                  <li>	Address workers’ compensation, law enforcement, and other government requests</li>
                  <li>	Respond to lawsuits and legal actions</li>
                  
                 </ul>
                 <h3>Your Rights</h3>
                 <p>When it comes to your health information, you have certain rights. This section explains your rights and some of our responsibilities to help you.</p>
                 <p>Get an electronic or paper copy of your medical record </p>

                 <ul class="commonul">
                  <li>	You can ask to see or get an electronic or paper copy of your medical record and other health information we have about you. Ask us how to do this. </li>
                  <li>	We will provide a copy or a summary of your health information, usually within 30 days of your request. We may charge a reasonable, cost-based fee. Ask us to correct your medical record</li>
                  <li>	You can ask us to correct health information about you that you think is incorrect or incomplete. Ask us how to do this.</li>
                  <li>	We may say “no” to your request, but we’ll tell you why in writing within 60 days. Request confidential communications</li>
                  <li>	You can ask us to contact you in a specific way (for example, home or office phone) or to send mail to a different address.</li> 
                  <li>	We will say “yes” to all reasonable requests.
                  Ask us to limit what we use or share</li>
                  <li>	You can ask us not to use or share certain health information for treatment, payment, or our operations. We are not required to agree to your request, and we may say “no” if it would affect your care.</li>
                  <li>	If you pay for a service or health care item out-of-pocket in full, you can ask us not to share that information for the purpose of payment or our operations with your health insurer. We will say “yes” unless a law requires us to share that information.
                  Get a list of those with whom we’ve shared information</li>
                  <li>	You can ask for a list (accounting) of the times we’ve shared your health information for six years prior to the date you ask, who we shared it with, and why.</li>
                  <li>	We will include all the disclosures except for those about treatment, payment, and health care operations, and certain other disclosures (such as any you asked us to make). We’ll provide one accounting a year for free but will charge a reasonable, cost-based fee if you ask for another one within 12 months.</li>
                  
                 </ul>

                 <h3>Get a copy of this privacy notice</h3>
                 <p>You can ask for a paper copy of this notice at any time, even if you have agreed to receive the notice electronically. We will provide you with a paper copy promptly.</p>
                 <p>Choose someone to act for you</p>
                 <ul class="commonul">
                  <li>	If you have given someone medical power of attorney or if someone is your legal guardian, that person can exercise your rights and make choices about your health information.</li>
                  <li>	We will make sure the person has this authority and can act for you before we take any action. <b>File a complaint if you feel your rights are violated</b>
                  <li>	You can complain if you feel we have violated your rights by contacting us using the information on page 1.</li>
                  <li>	You can file a complaint with the U.S. Department of Health and Human Services Office for Civil Rights by sending a letter to 200 Independence Avenue, S.W., Washington, D.C. 20201, calling 1-877-696-6775, or visiting <a href="https://www.hhs.gov/hipaa/filing-a-complaint/what-to-expect/index.html">www.hhs.gov/ocr/privacy/hipaa/complaints/.</a>
                  <li>	We will not retaliate against you for filing a complaint.</li>
                  
                 </ul>
                 <h3>Your Choices</h3>
                 <p>For certain health information, you can tell us your choices about what we share. If you have a clear preference for how we share your information in the situations described below, talk to us. Tell us what you want us to do, and we will follow your instructions.</p>
                 <p>In these cases, you have both the right and choice to tell us to:</p>
                 <ul class="commonul">
                  <li>Share information with your family, close friends, or others involved in your care</li>
                  <li>Share information in a disaster relief situation</li>
                  <li>Include your information in a hospital directory<br><br>If you are not able to tell us your preference, for example if you are unconscious, we may go ahead and share your information if we believe it is in your best interest. We may also share your information when needed to lessen a serious and imminent threat to health or safety.</li>
                 </ul>
               
                  <p>In these cases we never share your information unless you give us written permission:</p>
                  <ul class="commonul">
                    <li>Marketing purposes</li>
                    <li>Sale of your information</li>
                    <li>Most sharing of psychotherapy notes</li>

                  </ul>
                  <p>In the case of fundraising:</p>
                  <ul class="commonul">
                    <li>We may contact you for fundraising efforts, but you can tell us not to contact you again.</li>
                  </ul>
                  <h3>Our Uses and Disclosures</h3>
                  <p>How do we typically use or share your health information?  We typically use or share your health information in the following ways.
                    </p>
                    <b>Treat you</b>
                    <p class="pl-4">We can use your health information and share it with other professionals who are treating you.<br>
                      Example: A doctor treating you for an injury asks another doctor about your overall health condition.
                      </p>
                      <b>Run our organization</b>
                      <p class="pl-4">We can use and share your health information to run our practice, improve your care, and contact you when necessary.<br>
                        Example: We use health information about you to manage your treatment and services. 
                        </p>
                        <b>Bill for your services</b>
                        <p class="pl-4">We can use and share your health information to bill and get payment from health plans or other entities. 
                          <br>
                          Example: We give information about you to your health insurance plan so it will pay for your services. 
                          </p>
                          <h3>How else can we use or share your health information? </h3>
                          <p>We are allowed or required to share your information in other ways – usually in ways that contribute to the public good, such as public health and research. We have to meet many conditions in the law before we can share your information for these purposes. For more information see: <a href="https://www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/index.html./index.html">www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/index.html.</a></p>
                          <p>Help with public health and safety issues</p>
                          <p>We can share health information about you for certain situations such as: </p>
                          <ul class="commonul">
                            <li>Preventing disease</li>
                            <li>Helping with product recalls</li>
                            <li>Reporting adverse reactions to medications</li>
                            <li>Reporting suspected abuse, neglect, or domestic violence</li>
                            <li>Preventing or reducing a serious threat to anyone’s health or safety</li>

                          </ul>
                          <b>Do research</b>
                          <p class="pl-4">We can use or share your information for health research.</p>
                          <b>Comply with the law</b>
                          <p class="pl-4">We will share information about you if state or federal laws require it, including with the Department of Health and Human Services if it wants to see that we’re complying with federal privacy law.</p>
                          <b>Respond to organ and tissue donation requests</b>
                          <p class="pl-4">We can share health information about you with organ procurement organizations.</p>
                          <b>Work with a medical examiner or funeral director</b>
                          <p class="pl-4">We can share health information with a coroner, medical examiner, or funeral director when an individual dies.</p>
                          <b>Address workers’ compensation, law enforcement, and other government requests</b>
                          <p class="pl-4">We can use or share health information about you:</p>
                          <ul class="commonul">
                            <li>For workers’ compensation claims</li>
                            <li>For law enforcement purposes or with a law enforcement official</li>
                            <li>With health oversight agencies for activities authorized by law</li>
                            <li>For special government functions such as military, national security, and presidential protective services</li>

                          </ul>
                          <p><b>Respond to lawsuits and legal actions</b></p>
                          <p class="pl-4">We can share health information about you in response to a court or administrative order, or in response to a subpoena.</p>
                          <h3>Our Responsibilities</h3>
                          <ul class="commonul">
                            <li>We are required by law to maintain the privacy and security of your protected health information.</li> 
                            <li>We will let you know promptly if a breach occurs that may have compromised the privacy or security of your information.</li>
                            <li>We must follow the duties and privacy practices described in this notice and give you a copy of it. </li>
                            <li>We will not use or share your information other than as described here unless you tell us we can in writing. If you tell us we can, you may change your mind at any time. Let us know in writing if you change your mind. </li>

                          </ul>
                          <p>For more information see: </p>
                          <a href="www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/noticepp.html.">www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/noticepp.html.</a>
                          <p>Changes to the Terms of this Notice</p>
                          <p>We can change the terms of this notice, and the changes will apply to all information we have about you. The new notice will be available upon request, in our office, and on our web site.</p>
                          <h3>STATE-SPECIFIC PRIVACY NOTICES</h3>
                          <p>CALIFORNIA</p>
                          <p>Supplemental Privacy Notice for California Residents</p>
                          <p>This notice for California residents supplements the information contained in our Privacy Statement and applies solely to residents of the State of California. We adopt this Supplemental Notice to comply with the California Consumer Privacy Act of 2018 (CCPA) and any terms defined in the CCPA have the same meaning when used in this Supplemental Notice. Under the California Consumer Privacy Act (“CCPA”), you have certain rights in relation to some of your personal data, including the right to certain disclosures and explanations of rights. This section explains your rights under California law.</p>
                          <p><b>CALIFORNIA 'DO NOT TRACK' DISCLOSURES</b></p>
                          <p>California law (CalOPPA) requires Chat-A-Doc to let you know how we respond to web browser 'Do Not Track (DNT) signals'. Because there currently is not an industry or legal standard for recognizing or honoring DNT signals, we do not honor Do Not Track requests at this time.</p>
                          <p>CALIFORNIA CONSUMER PRIVACY ACT OF 2018</p>
                          <p>Categories of Personal Information We Collect</p>
                          <p>Chat-A-Doc collects information that identifies, relates to, describes, references, is reasonably capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular California consumer or household (“personal information”). We may have collected the following categories of personal information from consumers through our websites, apps, services, devices, or other services within the twelve (12) months preceding the effective date of this Privacy Statement:</p>
                          <p>Personal Information Category</p>
                          <ul class="commonul">
                            <li>Identifiers such as</li>
                            <li>Name</li>
                            <li>Address</li>
                            <li>Unique personal identifier (e.g., device ID, online identifier)</li>
                            <li>Internet Protocol address</li>
                            <li>Email address</li>
                            <li>Account name</li>
                            <li>Social security number</li>
                            <li>Driver’s license number, or</li>
                            <li>Other similar identifiers</li>
                            <li>Characteristics of protected classifications under California/federal law (e.g., age, race, sex, medical condition, etc.)</li>
                            <li>Medical information</li>
                            <li>Health insurance information</li>
                            <li>Financial information, including credit card numbers</li>
                            <li>Biometric information (e.g., imagery of the iris, retina, fingerprint, face, or other data that contain identifying information)</li>
                            <li>Commercial information (e.g., purchase history)</li>
                            <li>Internet or other electronic network activity information (e.g., browsing history, interaction with our website, etc.)</li>
                            <li>Geolocation data</li>
                            <li>Audio, electronic, visual, thermal, olfactory, or similar information (e.g., call recordings)</li>
                            <li>Professional, employment-related, or other similar information</li>

                          </ul>
                          <p>“Personal information” under the California Consumer Privacy Act does not include information that is</p>
                          <ul class="commonul">
                            <li>publicly available from government records,</li>
                            <li>de-identified or aggregated consumer information,</li>
                            <li>health or medical information covered by the Health Insurance Portability and Accountability Act of 1996 (HIPAA) and the California Confidentiality of Medical Information Act (CMIA) or clinical trial data, or</li>
                            <li>certain personal or financial information covered under certain sector-specific privacy laws.</li>

                          </ul>
                          <p>For additional information, please see How Does Chat-A-Doc Use Personal Information.</p>
                          <p><b>Categories of Sources of Personal Information</b></p>
                          <p>We obtain the categories of personal information listed above from the following categories of sources:</p>
                          <ul class="commonul">
                            <li>Directly from consumers’ interactions with us, including with our devices, applications, websites, services, and representatives</li>
                            <li>Publicly available sources</li>
                            <li>Customers, including health care providers and insurance providers</li>
                            <li>Organizations with whom we partner to provide services to consumers</li>

                          </ul>
                          <p><b>Use or Disclosure of Personal Information</b></p>
                          <p>In the past 12 months, we have used or disclosed the personal information we collect for our operational purposes and for one or more of the following business purposes:</p>
                          <ul class="commonul">
                            <li>	To provide products and services to consumers</li>
                            <li>	To respond to consumer requests</li>
                            <li>	To improve and personalize consumer access to and experience on our website, for example, by telling consumers about new features, products, or services that may be of interest to them</li>
                            <li>	To develop records, including records of consumers’ personal information</li>
                            <li>	To contact consumers with information that might be of interest to them, including information about clinical trials and about products and services of ours and of others</li>
                            <li>	For analytical purposes and to research, develop, and improve programs, products, services and content</li>
                            <li>	For activities to monitor and maintain the quality or safety of our products and services</li>
                            <li>	For activities described to consumers when collecting their personal information or as otherwise permitted under CCPA</li>
                            <li>	For U.S. healthcare providers, to link name, National Provider Identifier (NPI), state license number, and/or IP address to web pages they visit, for compliance, marketing, and sales activities</li>
                            <li>	To conduct audits and perform troubleshooting activities of our websites, products, and services</li>
                            <li>	To detect and protect against security incidents and deceptive, malicious, or fraudulent activity</li>
                            <li>	To ensure our website, products, apps, and services function as intended, including debugging and repairing</li>
                            <li>	To comply with a law or regulation, court order or other legal process</li>

                          </ul>
                          <p>Please see How does Chat-A-Doc Keep and Use Personal Information in our Privacy Statement for more information.</p>
                          <p><b>How We Share Personal Information</b></p>
                          <p>Chat-A-Doc will not share consumers’ personal information with an unrelated third party without permission, except as described below. Chat-A-Doc may share personal information with any member of our corporate group, including parent companies, subsidiaries, and affiliates, and other companies in which we have an ownership or economic interest for purposes that are consistent with those identified in our Privacy Statement and this Notice.</p>
                          <p>In the ordinary course of business, we will share some personal information with companies that we hire to perform services or functions on our behalf. In all cases in which we share consumers’ personal information with a third party, we will only allow them to keep, disclose, or use consumers’ information to provide the services we asked them to provide.</p>
                          <p>We may be required to release consumers’ personal information in response to a court order, subpoena, search warrant, law, or regulation. We may cooperate with law enforcement authorities in investigating and prosecuting users who violate our rules or engage in behaviour which is harmful to other users or illegal. In addition, we may keep, disclose, and use consumers’ personal information in order to comply with U.S. FDA and other governmental guidance, directions, regulations, and laws.
                            <br>Categories of Personal Information We Sell<br>We do not sell personal information of California consumers.

                          </p>
                          <p>This does not include disclosures that are not a “sale” under the CCPA, including when</p>
                          <ul class="commonul">
                            <li>consumers instruct us to disclose their personal information,</li>
                            <li>a consumer instructs us to interact with a third party that does not sell that information,</li>
                            <li>we use or share consumers’ personal information pursuant to a written contract with a service provider that is necessary to perform a business purpose, where our contract prevents the provider from using, keeping, or disclosing consumers’ personal information for any purpose other than the reason supplied in the contract, or</li>
                            <li>consumers’ personal information is transferred as part of a transaction in which the third party assumes control of all or part of our business.</li>

                          </ul>
                          <p><b>Personal Information on Minors</b></p>
                          <p>We do not sell personal information of California consumers, including minors.</p>
                          <p><b>Rights under California Law</b></p>
                          <p class="pl-4">1.	Right to Access. If you are a California consumer, you have the right to ask us to send you the following information up to two times in a twelve-month period:</p>
                          <ul class="commonul">
                            <li>The categories of personal data we have collected about you.</li>
                            <li>The categories of sources from which we collected the personal data.</li>
                            <li>Our business or commercial purpose for collecting personal data.</li>
                            <li>The categories of third parties with whom we share personal data.</li>
                            <li>What categories of personal data we disclose about you for business purposes.</li>
                            <li>What categories of personal data we sell or exchange for consideration about you.</li>
                            <li>The specific pieces of personal information we have collected about you.</li>

                          </ul>

                          <p>2.	Right to Delete. If you are a California consumer, you have the right to ask us to delete the personal data about you we have collected. We may deny the request if the information is necessary to:</p>
                          <ul class="commonul">
                            <li>complete a transaction, including providing a requested or reasonably anticipated good or service, or fulfill a contract between the consumer and Chat-A-Doc;</li>
                            <li>detect and protect against security incidents, malicious, deceptive, fraudulent, or illegal activity, or take against those responsible for such activity;</li>
                            <li>debug to identify and repair errors impairing intended functionality;</li>
                            <li>exercise free speech or another right provided for by law;</li>
                            <li>comply with the California Electronic Communications Privacy Act;</li>
                            <li>engage in research in the public interest adhering to applicable ethics and privacy laws where the consumer has provided informed consent;</li>
                            <li>enable solely internal uses reasonably aligned with the consumer’s expectations based on the consumer’s relationship with Chat-A-Doc;</li>
                            <li>comply with a legal obligation; or
                            <li>otherwise use the information internally in a lawful manner compatible with the context in which the consumer provided the information.</li>

                          </ul>
                          <p>3.	Right to Opt-out. If a business sells personal information to third parties, California consumers have the right, at any time, to opt out of the sale or disclosure of their personal information to third parties. Chat-A-Doc does not sell personal information to third parties.</p>
                          <p>Right to non-discrimination. The CCPA grants California consumers the right not to be discriminated against for exercising your privacy rights. If you exercise your privacy rights, we will not discriminate against you, for example, by denying you access to our online services or charging you different rates or prices for the same online services, unless that difference is reasonably related to the value provided by your data.</p>
                          <p><b>Submitting a Request or Inquiry</b></p>
                          <p>If you are a California resident and you want to submit a request or inquiry to us regarding your California rights, you or your authorized agent can contact us </p>
                          <p><b>Privacy Officer Contact info</b></p>
                          <p>You do not have to create an account with us to submit a request.</p>
                          <p>Your request will be confirmed within ten days of receipt and we will respond within 45 days. If we need more than 45 days, we will notify you that your request is being delayed.</p>
                          <p>We can only respond to your request if it is verifiable. This means we are obligated to take reasonable steps to verify your identity or your authorized agent’s authority and your right to access the information you request. We may ask for additional information that will help us do so. We will only use that additional information in the verification process, and not for any other purpose.</p>
                          <p>We do not charge a fee to process or respond to your verifiable consumer request unless it is excessive, repetitive, or manifestly unfounded. If we determine that the request warrants a fee, we will tell you why we made that decision and provide you with a cost estimate before completing your request.</p>
                          <h3>Cancel Appointment Policy</h3>
                          <p>Our goal is to provide quality health care to all our patients in a timely manner. No-shows, late cancellations, and cancellations are inconvenient not only for our providers but our other patients as well. Please be aware of our policy regarding the cancellation of appointments.</p>
                          <h3>Appointment Cancellation</h3>
                          <p>When you book your appointment, you are holding space on our calendar that is no longer available to our other patients. In order to be respectful of your fellow patients, please be available for appointments at the scheduled time.<br/>
                            If cancellation is necessary, we require that you call in advance. Appointments are in high demand, and your advanced notice will allow another patient access to that appointment time.</p>
                            <h3>How to Cancel Your Appointment</h3>
                            <p>If you need to cancel your appointment, please go to the approved sections and press on the cancel appointment, you have to leave a reason for cancellation.</p>
                            <h3>Late Cancellations/No-Shows</h3>
                            <p>A cancellation is considered late when the appointment is cancelled less than 2 hrs (TBD) before the appointed time. A no-show is when a patient misses an appointment without cancelling. In either case, we will charge the patient a 50% missed appointment fee.</p>
                              <p>For new patients’ first appointments, a no-show or late cancellation will result in a full charge of the fee.</p>
                              <p>In the case of the Dr( provider), No show full amount will be refunded.</p>
                              <h3>Refunds/No-Shows</h3>
                              <p>If there was no call between the patient and the Dr due to Dr unavailability we will refund your fees in total.</p>
                              <p>If the patient was unavailable there will be no refund.</p>
                              <h3>Refunds/Cancellation</h3>
                              <p>In case the appointment is cancelled earlier than 2hrs before the appointment there will be 20% cancellation charges, <br>In case the appointment is cancelled earlier than 1hrs and later than 2hrs  there will be 50% cancellation charges,<br>In case the appointment is cancelled less than 1 hr before the appointment there will be no refund will be deducted.</p>
                          <p>This notice was published and becomes effective on/or before 01 - 08 - 2021. </p>

                </div>
            </div>
           
        </div>
      </div>
    </main>

    
 