<section class="sec-1">
  <div class="container">
     <div class="row">
        <div class="col-md-7 home-banner">
           <!-- <h2 class="bannerhead2">Welcome</h2> -->
           <h1 class="title-head">Right Doctor . Right Time<br> Right Cost . Any Place</h1>
           <!-- <h1 class="title-head"> सही डॉक्टर  सही समय सही फीस  कहीं भी </h1> -->
           <p class="banner-text">See our Mental Health Experts from anywhere, anytime</p>
           <!-- <p *ngIf="datamessage=='हिंदी'" class="banner-text">अपने स्मार्टफ़ोन, टेबलेट, या कंप्यूटर का उपयोग करके मिनटों में डॉक्टर से ऑनलाइन मिलिए। <br></p> -->
           <button class="downloadbtn"><img src="assets/img/home/goolgeplayeng.png"></button>
           <button class="downloadbtn"><img src="assets/img/home/appstoreeng.png"></button>
           <!-- <button *ngIf="datamessage=='हिंदी'" data-toggle="modal" data-target="#myModal2" class="btn btn1" style="background-image: url('assets/img/new-patient/common-btn.png');">आज ही हमसे जुड़ें </button> -->
        </div>
     </div>
  </div>
</section>
<!-- section two -->
<section class="sec-2 section commonsectionmt">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <h2 class="commontitle">See Our Mental Health Experts From Anywhere, Anytime</h2>
           <!-- <h2  *ngIf="datamessage=='हिंदी'" class="title title1width commontitle">अब डॉक्टर से मिलिए - कहीं भी, कभी भी </h2> -->
        </div>
     </div>
     <div class="row mt-3">
        <div class="col-md-6">
           <p>
            Chat - A- Doc is a simple, safe and secured space for sharing your mental health related issues. Get in touch with our board of Licensed experts and take a step towards maintaining your mental well- being. Access this online platform from the ease and comfort of your space - be it home or workspace, and get immediate mental health support.           </p>
           <!-- <p  *ngIf="datamessage=='हिंदी'"> -->
           <!-- आपके लिए अब आवश्यक स्वास्थ्य सेवाएँ प्राप्त करने का एक सरल, सुरक्षित और सुविधाजनक तरीका । अपना आरामदायक घर छोड़े बिना बोर्ड-प्रमाणित चिकित्सकों के साथ लाइव वीडियो चैट की सुविधा चैट-ए- डॉक आपको प्रदान करता है, । चैट-ए-डॉक उन कई बाधाओं को समाप्त करता है जो लोगों को स्वास्थ्य सेवा तक पहुंचने से रोकती हैं जैसे: खर्च,  कार्य से समय निकालना, परिवहन से जुड़े मुद्दे और अधिक कीटाणुओं के संपर्क में आना।  -->
           <!-- </p>   -->
        </div>
        <div class="col-md-6">
           <video class="section-2-video" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" controls>
              <source src="assets/img/home/home-video.mp4" type="video/mp4">
           </video>
        </div>
     </div>
  </div>
</section>
<!-- section three -->
<section class="home-sec-3 section commonsectionmt">
  <div class="container">
     <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
           <h2 class="commontitle">Benefits Of Telemedicine</h2>
           <p>Tele Consultation became a need of the hour, particularly during pandemic situation. This revolutionized the field of Tele - Medicine and Tele -Counselling making it more client centric. Although such practice did exit earlier but people realized its ease and significance lately. Advancement of technology added ever more and precipitated with growth and accessibility.</p>
        </div>
     </div>
     <div class="row">
        <div class="col-md-12">
           <swiper [config]="config">
              <div class="swiper-wrapper">
                 <div class="swiper-slide">
                    <img src="assets/img/home/b1.svg" alt="img 1">
                    <p>Easy to access & use</p>
                 </div>
                 <div class="swiper-slide">
                    <img src="assets/img/home/b2.svg" alt="img 1"> 
                    <p>Saves time & energy</p>
                 </div>
                 <div class="swiper-slide">
                    <img src="assets/img/home/b3.svg" alt="img 1">
                    <p>Aids to comfort & convenience</p>
                 </div>
                 <div class="swiper-slide">
                    <img src="assets/img/home/b4.svg" alt="img 1">
                    <p>Safety from infectious disease</p>
                 </div>
                 <div class="swiper-slide">
                    <img src="assets/img/home/b5.svg" alt="img 1">
                    <p>Support for chronic conditions</p>
                 </div>
                 <div class="swiper-slide">
                    <img src="assets/img/home/b6.svg" alt="img 1">
                    <p>Cost benefits & Ease of availability</p>
                 </div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
           </swiper>
        </div>
     </div>
  </div>
</section>
<!-- section four -->
<section class="home-sec-4 commonsectionmt">
  <div class="container">
     <div class="row mb-5">
        <div class="col-md-12">
           <h2 class="commontitle">Medical Conditions Treated</h2>
        </div>
     </div>
     <div class="row">
        <div class="col-md-6">
          <div class="medicaltabcontainer">
           <div class="medicaltab1">
              <input type="radio" id="Physician" (click)="Family1()" name="Physician1" value="Physician" checked>
              <label for="Physician" class="chelboxlabel"> Depression </label><br>
              <div class="Ckekbox" *ngIf="!Family">
                 <p>Are you Feeling upset or experiencing spells of low mood, invariably for most part of the day, feeling exhausted, losing intrerest in doing things?</p>
              </div>
           </div>
           
           <div class="medicaltab1">
              <input type="radio" (click)="Psychologist1()" id="Psychologist" name="Physician1" value="Psychologist">
              <label for="Psychologist"  class="chelboxlabel"> Anxiety</label><br>
              <div class="Ckekbox" *ngIf="!Psychologist">
                 <p>Do you overthink a lot, or worry that bad things might happen to you or someone close to you, always negative thoughts about future?</p>
              </div>
           </div>
           <div class="medicaltab1">
              <input type="radio" id="Psychiatrist" (click)="Psychiatrist1()" name="Physician1" value="Psychiatrist">
              <label for="Psychiatrist" class="chelboxlabel"> Fear</label><br>
              <div class="Ckekbox" *ngIf="!Psychiatrist">
                 <p>Do constantly fear about things which are otherwise not a potential treat?</p>
              </div>
           </div>
           <div class="medicaltab1">
            <input type="radio" id="Psychiatrist" (click)="Psychiatrist1()" name="Physician1" value="Psychiatrist">
            <label for="Psychiatrist" class="chelboxlabel"> Sleep Issues</label><br>
            <div class="Ckekbox" *ngIf="!Psychiatrist">
               <p>Are you struggling to fall asleep, or waking up in the middle of the night and not able to sleep again or not able to sleep at all?</p>
            </div>
         </div>
         <div class="medicaltab1">
            <input type="radio" id="Psychiatrist" (click)="Psychiatrist1()" name="Physician1" value="Psychiatrist">
            <label for="Psychiatrist" class="chelboxlabel"> Couple Counselling</label><br>
            <div class="Ckekbox" *ngIf="!Psychiatrist">
               <p>Are you fighting with your partner more than usual? Are you finding it difficult to come in common terms with your partner?</p>
            </div>
         </div>
         <div class="medicaltab1">
            <input type="radio" id="Psychiatrist" (click)="Psychiatrist1()" name="Physician1" value="Psychiatrist">
            <label for="Psychiatrist" class="chelboxlabel"> Career counselling</label><br>
            <div class="Ckekbox" *ngIf="!Psychiatrist">
               <p>Are you struggling with yourself or your parents about which career pathway to choose?</p>
            </div>
         </div>
         <div class="medicaltab1">
            <input type="radio" id="Psychiatrist" (click)="Psychiatrist1()" name="Physician1" value="Psychiatrist">
            <label for="Psychiatrist" class="chelboxlabel"> Adolescents' Mental Health</label><br>
            <div class="Ckekbox" *ngIf="!Psychiatrist">
               <p>Turbulent teens? Adolescents think "My parents do not understand me" Parents think " my child is growing up and doen't lsiten to me anymore"</p>
            </div>
         </div>
         <div class="medicaltab1">
            <input type="radio" id="Psychiatrist" (click)="Psychiatrist1()" name="Physician1" value="Psychiatrist">
            <label for="Psychiatrist" class="chelboxlabel"> Women and Men Mental health </label><br>
            <div class="Ckekbox" *ngIf="!Psychiatrist">
               <p>Do you feel the burnout of your day- to day schedule? Irrespective of gender, men and women often expeience stress and burnout out of their routine work and monotonos schedule.</p>
            </div>
         </div>
         <div class="medicaltab1">
            <input type="radio" id="Psychiatrist" (click)="Psychiatrist1()" name="Physician1" value="Psychiatrist">
            <label for="Psychiatrist" class="chelboxlabel"> Parental Counselling</label><br>
            <div class="Ckekbox" *ngIf="!Psychiatrist">
               <p>Do you get overwhelmed at times raising your child? Parental meantal health and well being often require a lot of attention</p>
            </div>
         </div>
         <div class="medicaltab1">
            <input type="radio" id="Psychiatrist" (click)="Psychiatrist1()" name="Physician1" value="Psychiatrist">
            <label for="Psychiatrist" class="chelboxlabel"> Grief Support </label><br>
            <div class="Ckekbox" *ngIf="!Psychiatrist">
               <p>Losing a loved one is difficult and griefing takes time . Seeking support from a mental health expert is essentilal.</p>
            </div>
         </div>
         <div class="medicaltab1">
            <input type="radio" id="Psychiatrist" (click)="Psychiatrist1()" name="Physician1" value="Psychiatrist">
            <label for="Psychiatrist" class="chelboxlabel"> Psychological First Aid</label><br>
            <div class="Ckekbox" *ngIf="!Psychiatrist">
               <p>Immediate humane intervention after a Trauma! Trauma is delibiltating condition and mental health assistance is essential if you have been through a trauma</p>
            </div>
         </div>
         <div class="medicaltab1">
            <input type="radio" id="Psychiatrist" (click)="Psychiatrist1()" name="Physician1" value="Psychiatrist">
            <label for="Psychiatrist" class="chelboxlabel"> Domestic Violence</label><br>
            <div class="Ckekbox" *ngIf="!Psychiatrist">
               <p>Have you been a victim of domestic violence of any sort- emotional and physical? We are here to help you</p>
            </div>
         </div>
         <div class="medicaltab1">
            <input type="radio" id="Psychiatrist" (click)="Psychiatrist1()" name="Physician1" value="Psychiatrist">
            <label for="Psychiatrist" class="chelboxlabel"> Bullying</label><br>
            <div class="Ckekbox" *ngIf="!Psychiatrist">
               <p>Making fun of others, name calling at schools, college, or even work place takes a toll on mental health</p>
            </div>
         </div>
         <div class="medicaltab1">
            <input type="radio" id="Psychiatrist" (click)="Psychiatrist1()" name="Physician1" value="Psychiatrist">
            <label for="Psychiatrist" class="chelboxlabel"> Low in confidence</label><br>
            <div class="Ckekbox" *ngIf="!Psychiatrist">
               <p>Negative sense of self, enviornmental situation often lowers our confidence, which is likely to impact our efficiency and the way we see ourselves</p>
            </div>
         </div>
         <div class="medicaltab1">
            <input type="radio" id="Psychiatrist" (click)="Psychiatrist1()" name="Physician1" value="Psychiatrist">
            <label for="Psychiatrist" class="chelboxlabel"> Work Place stress</label><br>
            <div class="Ckekbox" *ngIf="!Psychiatrist">
               <p>Are you struggling with occupational stress, or difficult to maintain a work-life balance, or decision to choose an adequate job?</p>
            </div>
         </div>
         <div class="medicaltab1">
            <input type="radio" id="Psychiatrist" (click)="Psychiatrist1()" name="Physician1" value="Psychiatrist">
            <label for="Psychiatrist" class="chelboxlabel"> Difficulty in coping </label><br>
            <div class="Ckekbox" *ngIf="!Psychiatrist">
               <p>Are you struggling to cope with a difficult situation or person or resort to smoking, alcohol abuse or watching inappropriate sexual content when stressed out?</p>
            </div>
         </div>
          </div>
        </div>
        <div class="col-md-6">
           <swiper [config]="config2" >
              <div class="swiper-wrapper swiper-wrappe11" >
                 <div class="swiper-slide sec-bg1">
                    <div class="row">
                       <div class="">
                          <div class=""><img src="assets/img/treatment/Group1.png"  alt="Fever" /></div>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide sec-bg2">
                    <div class="row">
                       <div class="">
                          <div class=""><img src="assets/img/treatment/Group2.png" alt="Headache"/></div>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide sec-bg3">
                    <div class="row">
                       <div class="">
                          <div class=""><img src="assets/img/treatment/Group3.png" alt="Headache"/></div>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide sec-bg4">
                    <div class="row">
                       <div class="">
                          <div class=""><img src="assets/img/treatment/Group4.png" alt="Upper Respiratory Infection"/></div>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide sec-bg5">
                    <div class="row">
                       <div class="">
                          <div class=""><img src="assets/img/treatment/Group5.png" alt="Vomiting"/></div>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide sec-bg6">
                    <div class="row">
                       <div class="">
                          <div class=""><img src="assets/img/treatment/Group6.png" alt="Diarrhea"/></div>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide sec-bg7">
                    <div class="row">
                       <div class="">
                          <div class=""><img src="assets/img/treatment/Group7.png" alt="Constipation"/></div>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide sec-bg8">
                    <div class="row">
                       <div class="">
                          <div class=""><img src="assets/img/treatment/Group8.png" alt="Gastrointestinal Issues"/></div>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide sec-bg9">
                    <div class="row">
                       <div class="">
                          <div class=""><img src="assets/img/treatment/Group9.png" alt="Seasonal Allergies"/></div>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide sec-bg10">
                    <div class="row">
                       <div class="">
                          <div class=""><img src="assets/img/treatment/Group10.png" alt="Urinary Tract Infection"/></div>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide sec-bg11">
                    <div class="row">
                       <div class="">
                          <div class=""><img src="assets/img/treatment/Group11.png" alt="Arthritis"/></div>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide sec-bg12">
                    <div class="row">
                       <div class="">
                          <div class=""><img src="assets/img/treatment/12.png" alt="Cough"/></div>
                       </div>
                    </div>
                 </div>
                 <div class="swiper-slide sec-bg13">
                    <div class="row">
                       <div class="">
                          <div class=""><img src="assets/img/treatment/13.png" alt="Diabetes Management"/></div>
                       </div>
                    </div>
                 </div>
              </div>
           </swiper>
        </div>
     </div>
  </div>
</section>
<!-- Section five -->
<section class="home-sec-5 commonsectionmt">
  <div class="container">
     <div class="row">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
           <h3>197+M</h3>
           <p>People had mental disorders in India till 2019</p>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
           <h3>56M</h3>
           <p>Indians suffer from depression and another 38 million Indians suffer from anxiety disorders.</p>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
           <h3>28.3L</h3>
           <p>Tele counselling sessions happened only during pandemic situation, the count is on</p>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
           <h3>55%</h3>
           <p>Of Indian employees feel stressed, majorly looks for tele-counselling</p>
        </div>
     </div>
     <div class="row mt-4">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 offset-md-2">
           <h3>11-35</h3>
           <p>People aged 11-35 prefer online counselling sessions over various online portals</p>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
           <h3>7%</h3>
           <p>Increase in preference from face to face counselling to tele-counselling</p>
        </div>
     </div>
  </div>
</section>
<!-- Section six -->
<section class="section home-sec-6 commonsectionmt">
  <div class="container">
     <div class="row">
        <h2 class="commontitle">Download Now</h2>
        <!-- <h2 class="title title5width commontitle mb-3" *ngIf="datamessage=='हिंदी'">अभी डाऊनलोड करें </h2> -->
        <div class="col-6 col-sm-4 col-md-4 col-lg-4">
           <div class="googleplaydiv">
              <button class="downloadbtn"><img src="assets/img/home/goolgeplayeng.png"></button>
           </div>
           <div class="googleappstorediv">          
              <button class="downloadbtn"><img src="assets/img/home/appstoreeng.png"></button>
           </div>
        </div>
        <div class="col-6 col-ms-6  col-md-6  col-lg-6 offset-md-1">
           <img class="downloadimg" src="assets/img/home/sec-5-downloadimglarge.png" alt="download images">
        </div>
     </div>
  </div>
</section>