<section class="contactus-sec-1 section">
    <div class="container"> 
    <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 home-banner">
          <h2 class="title-head">One Click And <br>We Are Here!</h2>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 homemobilebannerimgcont">
            <img src="assets/img/home/home-banner-formobile.png" class="homemobilebannerimg">
         </div>
      </div>
    </div> 
</section>
<section class="contactus-sec-2 commonsectionmt">
    <div class="container">
        <div class="row commonmobilemarginbt">
            <div class="col-md-12">
                <h2 class="title-head">We'd love to hear from you</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <video class="section-2-video" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
                    <source src="https://video.wixstatic.com/video/64579e_4a12124648bf4358b8e35c21b391d2b5/720p/mp4/file.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</section>

<section class="contactus-sec-3 commonsectionmt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="contactustitle">Rethink the way you receive care by <br>joining the millions who already do.</h3>
                  <div class="mt-4 mb-4">
                    <input type="text" class="form-control" id="yourname" placeholder="Your name">
                  </div>
                  <div class="mb-4">
                    <input type="text" class="form-control" id="yourname" placeholder="Phone no">
                  </div>
                  <div class="mb-4">
                    <input type="text" class="form-control" id="yourname" placeholder="Email">
                  </div>
                  <div class="mb-4">
                    <textarea class="form-control" id="yourmessage" rows="3"></textarea>
                  </div>
                  <div class="mb-4">
                    <button class="submitbtn">Submit</button>
                  </div>
            </div>
        </div>
    </div>
</section>

<section class="contactus-sec-4 commonsectionmt commonsectionbt">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title-head">We're Social!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 commonmobilemarginbt">
                <p>Follow us on your favorite social media sites! Share your experience using the hashtag #CHATADOC</p>
                <div class="socialiconconatien">
                    <img class="socialiconcommon" src="assets/img/contactus/fb.png" alt="fb">
                    <img class="socialiconcommon" src="assets/img/contactus/insta.png" alt="insta">
                    <img class="socialiconcommon" src="assets/img/contactus/in.png" alt="linkin">
                    <img class="socialiconcommon" src="assets/img/contactus/twitter.png" alt="twiter">
                </div>
            </div>
            <div class="col-md-6">
                    <img src="assets/img/contactus/sociallarge.png" alt=""/>
            </div>
        </div>
    </div>
</section>

