<header #myHeader id="myHeader" (scroll)="myFunction()"  class="bbb site-navbar custom-header fixed-top" role="banner">
    <div class="container">
      <div class="row align-items-right">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 " style="position:relative;">
          <h1 class="mb-0 site-logo" (click)="closeNav()"><a routerLink="/" class="mb-0" (click)="closeNav()"><img class="logoimg1" src="assets/img/home/logo.png" alt="Logo"></a></h1>
          <!-- <h1 class="mb-0 site-logo1"><a href="index.html" class="mb-0"><img src="assets/img/chatall/logo.png" style="width:40%;"></a></h1> -->
          <!-- <i class="fa fa-bars mobile-menu" aria-hidden="true" (click)="openNav()"></i> -->
          <i class="fa fa-bars tab-menu" aria-hidden="true" (click)="openNav()" *ngIf="menuciondesktopopen"></i>
          <!-- <i class="fa fa-bars tab-menu" aria-hidden="true" ></i> -->
          <i class="fa fa-window-close tab-menu" aria-hidden="true" (click)="closeNav()" *ngIf="menuciondesktopclose"></i>
        </div>
       
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 mobilehide" id="removemobileview">
          <nav  class="nav text-right navbar navbar-expand-lg hide-moible justify-content-right" role="navigation">
            <ul class="navbar-nav"   *ngIf="datamessage=='English'">
              <!-- <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a></li> -->
              <li class="nav-item"><a routerLink="/service" (click)="closeNav()" routerLinkActive="active" class="nav-link">Services</a></li>
              <li class="nav-item"><a routerLink="/how-it-work"  (click)="closeNav()" routerLinkActive="active" class="nav-link">How it Works</a></li>
              
              <!-- <li class="nav-item"><a routerLink="/patient" (click)="closeNav()" routerLinkActive="active" class="nav-link">Patients</a></li>
              <li class="nav-item"><a routerLink="/provider"  (click)="closeNav()" routerLinkActive="active"class="nav-link">Providers</a></li> -->
              <li class="nav-item"><a routerLink="/contact-us"  (click)="closeNav()" routerLinkActive="active" class="nav-link">Contact</a></li>
              <li class="nav-item"><a routerLink="/resource"  (click)="closeNav()" routerLinkActive="active" class="nav-link">Resource</a></li>
              <li class="nav-item" style="line-height:50px ;">
                <img src="assets/img/home/langlogo.png" style="width: 20px;">
                <select class="selecheaderlang" (change)='dataChangeLanguage(datamessage)' #v [(ngModel)]="datamessage">
                  <option>English</option>
                  <!-- <option >हिंदी</option> -->
                </select>
              </li>
              <li class="nav-item">
                <div class="headerdownloadbtn">
               
                    <span>Download App</span> 
                      <a href="https://play.google.com/store/apps/details?id=com.chatadoc" target="_blank">
                          <img src="assets/img/service/android.png">
                      </a>
                      <a href="https://apps.apple.com/us/app/chat-a-doc/id1504060176" target="_blank">
                        <img src="assets/img/service/ios.png">
                    </a>
               
              </div>
          </li>
            
            </ul>
            <!------Hindi------->

            <ul class="navbar-nav"   *ngIf="datamessage=='हिंदी'">
              <!-- <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a></li> -->
              <li class="nav-item"><a routerLink="/service" (click)="closeNav()" routerLinkActive="active" class="nav-link">सेवाएं</a></li>
              <li class="nav-item"><a routerLink="/how-it-work"  (click)="closeNav()" routerLinkActive="active" class="nav-link">यह काम किस प्रकार करता है</a></li>
              
              <!-- <li class="nav-item"><a routerLink="/patient" (click)="closeNav()" routerLinkActive="active" class="nav-link">Patients</a></li>
              <li class="nav-item"><a routerLink="/provider"  (click)="closeNav()" routerLinkActive="active"class="nav-link">Providers</a></li> -->
              <li class="nav-item"><a routerLink="/contact-us"  (click)="closeNav()" routerLinkActive="active" class="nav-link">संपर्क करना</a></li>
              <li class="nav-item"><a routerLink="/resource"  (click)="closeNav()" routerLinkActive="active" class="nav-link">संसाधन</a></li>
              <li class="nav-item" style="line-height:50px ;">
                <img src="assets/img/home/langlogo.png" style="width: 20px;">
                <select class="selecheaderlang" (change)='dataChangeLanguage(datamessage)' #v [(ngModel)]="datamessage">
                  <option>English</option>
                  <!-- <option >हिंदी</option> -->
                </select>
              </li>
              <li class="nav-item">
                <div class="headerdownloadbtn">
               
                    <span>ऐप डाउनलोड करें</span> 
                      <a href="https://play.google.com/store/apps/details?id=com.chatadoc" target="_blank">
                          <img src="assets/img/service/android.png">
                      </a>
                      <a href="https://apps.apple.com/us/app/chat-a-doc/id1504060176" target="_blank">
                        <img src="assets/img/service/ios.png">
                    </a>
               
              </div>
          </li>
            
            </ul>
            
          </nav>
       
          <!-- <i class="fa fa-bars tab-menu" aria-hidden="true" (click)="openNav()"></i> -->
        </div>
      </div>
    </div>
  </header>



