<section class="howitwork-sec-1 section1">
    <div class="container">
       <div class="row">
          <div class="col-md-6 howitwork-banner">
             <!-- <h2 class="bannerhead2">Welcome</h2> -->
             <h1 class="title-head pb-4">Your Mental Health Is Just A Click Away</h1>
             <!-- <p class="banner-text">Your Mental Health is just a click away</p> -->
             <!-- <p *ngIf="datamessage=='हिंदी'" class="banner-text">अपने स्मार्टफ़ोन, टेबलेट, या कंप्यूटर का उपयोग करके मिनटों में डॉक्टर से ऑनलाइन मिलिए। <br></p> -->
             <button class="downloadbtn"><img src="assets/img/home/goolgeplayeng.png"></button>
             <button class="downloadbtn"><img src="assets/img/home/appstoreeng.png"></button>
          </div>
          <div class="col-md-6 imgheader">
             <img src="assets/img/howitwork/howtoworkimg.png" alt="App store"/>
          </div>
       </div>
    </div>
    <!-- </div> -->
 </section>

 <section class="section howitwork-sec-2 commonsectionmt commonsectionbt">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="commontitle">
            How It Works
          </h2>
        </div>
      </div>
      <h4>Start</h4>
         <div class="row howitwork-bg mt-5 desktop-howitwork" style="background-image: url('assets/img/howitwork/simplestepimg.png');     margin-left: 0px;">
             <div class="col-md-12">
              <div class="htw-common">   
              
                <h4>01</h4>
                <img src="assets/img/howitwork/noun_enroll_115801.png" alt="Download App"/>
                <h3>Register</h3>
                <p>Download the Chat-A-Doc App on your smart devices and create a quick profile.</p>
               
              </div>
            
              <div class="htw-common">
                <h4>02</h4>
              <img src="assets/img/howitwork/noun_Doctor_1638197.png" alt="Choose your doctor"/>
              <h3>Choose your desired Mental Health Practitioner</h3>
              <!-- <h3 *ngIf="datamessage=='हिंदी'">अपने डॉक्टर को चुनें </h3> -->
              <p>Book a slot with one of our Mental Health experts at a time convenient to you</p>
              <!-- <p *ngIf="datamessage=='हिंदी'">उस डॉक्टर को चुनें जो आपके लिए सुविधाजनक समय पर उपलब्ध हैं।</p> -->
            </div>
            <div class="htw-common">
              <h4>03</h4>
            <img src="assets/img/howitwork/noun_Online Doctor_1172338.png" alt="Video Chat Visit"/>
            <h3>Video Consultation</h3>
            <!-- <h3>विडियो चैट परामर्श सत्र</h3> -->
            <p>Connect with your desired expert on a video chat</p>
            <!-- <p *ngIf="datamessage=='हिंदी'">डॉक्टर से आपका परामर्श करवाया जाता है और आपको कौनसी दवाइयाँ देनी है यह निर्धारित होता है। </p> -->
          </div>
              <div class="htw-common2">
                <h4>04</h4>
              <img src="assets/img/howitwork/prescription.png" alt="Get your prescription"/>
              <h3>Prescription/ Therapy Record Sheet</h3>
              <!-- <h3 *ngIf="datamessage=='हिंदी'">अपना पर्चे लें</h3> -->
              <p>Receive a progress record of your consultation</p>
              <!-- <p *ngIf="datamessage=='हिंदी'">अपने स्थानीय औषधि-विक्रेता से अपनी पर्ची लीजिए। </p> -->
            </div>
          
          </div>
         </div>
      
    <!---Hindi-->
   
    
    </div>
</section>



