<section class="howitwork-sec-1 section1" *ngIf="dataLang=='English'">
    <div class="container">
       <div class="row">
          <div class="col-md-6 howitwork-banner">
             <h1 class="title-head pb-4">Your Mental Health Is Just A Click Away</h1>
             <button class="downloadbtn"><a href="https://play.google.com/store/apps/details?id=com.chatadoc" target="_blank"><img src="assets/img/home/goolgeplayeng.png"></a></button>
             <button class="downloadbtn"><a href="https://apps.apple.com/us/app/chat-a-doc/id1504060176" target="_blank"><img src="assets/img/home/appstoreeng.png" ></a></button>
          </div>
          <div class="col-md-6 imgheader">
             <img src="assets/img/howitwork/howtoworkimg.webp" class="howitworkbannerimg" alt="App store"/>
          </div>
       </div>
    </div>

 </section>
<!--hindi section--->
 <section class="howitwork-sec-1 section1" *ngIf="dataLang=='हिंदी'">
  <div class="container">
     <div class="row">
        <div class="col-md-6 howitwork-banner">
           <h1 class="title-head pb-4">आपका मानसिक स्वास्थ्य बस एक क्लिक दूर है</h1>
           <button class="downloadbtn"><a href="https://play.google.com/store/apps/details?id=com.chatadoc" target="_blank"><img src="assets/img/home/goolgeplayeng.png"></a></button>
           <button class="downloadbtn"><a href="https://apps.apple.com/us/app/chat-a-doc/id1504060176" target="_blank"><img src="assets/img/home/appstoreeng.png" ></a></button>
        </div>
        <div class="col-md-6 imgheader">
           <img src="assets/img/howitwork/howtoworkimg.webp" class="howitworkbannerimg" alt="App store"/>
        </div>
     </div>
  </div>
</section>

 <section class="section howitwork-sec-2 commonsectionmt commonsectionbt" *ngIf="dataLang=='English'">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="commontitle">
            How It Works
          </h2>
        </div>
      </div>
      <h4>Start</h4>
         <div class="row howitwork-bg mt-5 desktop-howitwork">
             <div class="col-md-12">
              <div class="htw-common">   
              
                <h4>01</h4>
                <img src="assets/img/howitwork/noun_enroll_115801.png" alt="Download App"/>
                <h3>Register</h3>
                <p>Download the Chat-A-Doc app<br> from Google store /Apple store <br>and create a quick profile</p>
               
              </div>
            
              <div class="htw-common">
                <h4>02</h4>
              <img src="assets/img/howitwork/noun_Doctor_1638197.png" alt="Choose your doctor"/>
              <h3>Choose Your Desired<br> Mental Health <br>Practitioner</h3>
              <!-- <h3 *ngIf="datamessage=='हिंदी'">अपने डॉक्टर को चुनें </h3> -->
              <p>Book a slot with one of our<br> Mental Health experts at a time <br>convenient to you</p>
              <!-- <p *ngIf="datamessage=='हिंदी'">उस डॉक्टर को चुनें जो आपके लिए सुविधाजनक समय पर उपलब्ध हैं।</p> -->
            </div>
            <div class="htw-common">
              <h4>03</h4>
            <img src="assets/img/howitwork/noun_Online Doctor_1172338.png" alt="Video Chat Visit"/>
            <h3>Video Consultation</h3>
            <!-- <h3>विडियो चैट परामर्श सत्र</h3> -->
            <p>Connect with your desired <br>expert on a video chat</p>
            <!-- <p *ngIf="datamessage=='हिंदी'">डॉक्टर से आपका परामर्श करवाया जाता है और आपको कौनसी दवाइयाँ देनी है यह निर्धारित होता है। </p> -->
          </div>
              <div class="htw-common">
                <h4>04</h4>
              <img src="assets/img/howitwork/prescription.png" alt="Get your prescription"/>
              <h3>Prescription/ Therapy<br> Record Sheet</h3>
              <!-- <h3 *ngIf="datamessage=='हिंदी'">अपना पर्चे लें</h3> -->
              <p>Receive a progress record<br> of your consultation</p>
              <!-- <p *ngIf="datamessage=='हिंदी'">अपने स्थानीय औषधि-विक्रेता से अपनी पर्ची लीजिए। </p> -->
            </div>
          
          </div>
         </div>
      
    <!---Hindi-->
   
    
    </div>
</section>

<!----Hindi section--->
<section class="section howitwork-sec-2 commonsectionmt commonsectionbt" *ngIf="dataLang=='हिंदी'">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="commontitle">
          यह काम किस प्रकार करता है
        </h2>
      </div>
    </div>
    <h4>शुरू</h4>
       <div class="row howitwork-bg mt-5 desktop-howitwork">
           <div class="col-md-12">
            <div class="htw-common">   
            
              <h4>01</h4>
              <img src="assets/img/howitwork/noun_enroll_115801.png" alt="Download App"/>
              <h3>पंजीकरण करवाना</h3>
              <p>Google स्टोर /Apple स्टोर <br>से चैट-ए-डॉक ऐप<br> डाउनलोड करें <br>और एक त्वरित प्रोफ़ाइल बनाएं</p>
             
            </div>
          
            <div class="htw-common">
              <h4>02</h4>
            <img src="assets/img/howitwork/noun_Doctor_1638197.png" alt="Choose your doctor"/>
            <h3>अपने डॉक्टर को चुनें </h3>
            <p>उस डॉक्टर को चुनें जो <br>आपके लिए सुविधाजनक समय पर उपलब्ध हैं।</p>
          </div>
          <div class="htw-common">
            <h4>03</h4>
          <img src="assets/img/howitwork/noun_Online Doctor_1172338.png" alt="Video Chat Visit"/>
          <h3>विडियो चैट परामर्श सत्र</h3>
          <p>डॉक्टर से आपका परामर्श करवाया जाता है<br> और आपको कौनसी दवाइयाँ <br>देनी है यह निर्धारित होता है। </p>
        </div>
            <div class="htw-common">
              <h4>04</h4>
            <img src="assets/img/howitwork/prescription.png" alt="Get your prescription"/>
            <h3>अपना पर्चे लें</h3>
            <p>अपने स्थानीय औषधि-विक्रेता से अपनी पर्ची लीजिए। </p>
          </div>
        
        </div>
       </div>
    
  <!---Hindi-->
 
  
  </div>
</section>



