
<footer class="footertop">
    <div class="container">
         <div class="row">
          <div class="col-12 col-sm-12  col-md-6 col-lg-6">
            <div class="row">
                <div class="col-md-2"><img src="assets/img/home/logo.png" alt="logo" alt=""/></div>
                <div class="col-md-10">
                  <p>
                    Chat - A- Doc is a simple, safe and secured space for sharing your mental health related issues. Get in touch with our board of Licensed experts and take a step towards maintaining your mental well- being. Access this online platform from the ease and comfort of your space - be it home or workspace, and get immediate mental health support
                  </p>
  
                    </div>
            </div>
        </div>

            <div class="col-md-2">
                <h3>Quick Link </h3>
                <ul>
                    <li><a routerLink="/resource">Resource</a></li>
                    <li><a routerLink="/resource">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4"> 
              <h3>We are just a click away</h3>
              <ul>
                    <li><input class="form-control" type="text" /></li>
                    <li class="mt-3">
                        <button class="callbackbtn">Request Call Back</button>
                    </li>
              </ul>
        </div>
      
    </div>
</div>
<div class="footer2">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="assets/img/footer/local_phone-24px.png" alt="phone icon"><span>844-682-1072</span>
            </div>
            <div class="col-md-4">
               <img src="assets/img/footer/local_post_office-24px.png" alt="message" ><span style="padding-left:10px;cursor: pointer;" data-toggle="modal" data-target="#footermodel" >chatadoc-contactus@homecareforyou.com</span>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <span>Follow Us :-</span>
                <a href="https://www.facebook.com/chatadoc1"><img class="social" src="assets/img/footer/facebook.png"></a>
                <!-- <a href=""><img class="social" src="assets/img/new-home/twitter.png"></a>
                <a href=""><img class="social" src="assets/img/new-home/youtube.png"></a> -->
                <a href="https://www.instagram.com/chat_a_doc/"><img class="social" src="assets/img/footer/twitter.png" alt="instagram"/></a>
                <a href="https://www.linkedin.com/company/chatadoc/"><img  class="social"src="assets/img/footer/youtube.png" alt="linkedin"/></a>
            </div>
        </div>
    </div>
</div>
<div class="footer3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">© 2020 Chat-A-Doc</p>
            </div>
        </div>
   </div>
</div>
</footer>

