/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
  }
  body{
    /* background-color: #dedede!important; */
    background:#fff;
    font-size: 100%;
  }
  p{
    color: #222222;
    font-family: 'OpenSans-Regular';
    font-size:1rem;
  }
  
  @font-face {
    font-family:OpenSans-ExtraBold;
    src: url(./assets/fonts/OpenSans-ExtraBold.ttf);
  }
  @font-face {
    font-family:OpenSans-Bold;
    src: url(./assets/fonts/OpenSans-Bold.ttf);
  }
  @font-face {
    font-family:OpenSans-Regular;
    src: url(./assets/fonts/OpenSans-Regular.ttf);
  }
  /* loader */

  .resource-sec-1 ul{
    margin-left: 20px
  }

  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .loaderContainer{
    position: fixed;
    z-index: 1093;
    background: #fff;
    width: 100%;
    opacity: .5;
    top: 50%;
    left: 50%;
  }
  .resourcepagelogo{
    width: 100%;
  }
  .chelboxlabel{
    cursor: pointer;
  }
  /* Slider css */

  .navbar {padding-bottom: 0px!important;}
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: end!important;
}
.requared{
  color: red;
}
.mediciantexttab{
  padding-left: 25px;
}
.mobile-viewsec-5{
  display: none;
  width: 100%;
}
.homemobilebannerimgcont{
  display: none;;
}
.home-sec-3 .swiper-pagination{
display: none;
}
.home-sec-3 .swiper-button-prev{
    display: none!important;
  }
.home-sec-3 .swiper-button-next{
      display: none!important;
  }
  
  .home-sec-5 .swiper-pagination{
    display: none;
    }
    .home-sec-5 .swiper-button-prev{
        display: none!important;
      }
    .home-sec-5 .swiper-button-next{
          display: none!important;
      }
/* Header css */
.headerdownloadbtn{
  background: #773DDC 0% 0% no-repeat padding-box;
  border-radius: 4px;
  padding: 5px 4px 5px 7px;
  color: #fff;
  border: none;
  width:auto;
  font-size: .8rem;
  margin-top:5px;

}
.headerdownloadbtn img{
  padding-left: 10px;
}
.color_red{
    color:#e51e25;
  }
  .fixed-top {
    z-index: 1090!important;
  }
.header-container{
    background: transparent linear-gradient(268deg, #000000 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.5;
    }
    .h-25{
        margin-top: 25px;
    }
    
    .shrink{
        background-color: #dedede!important;
        color:#000;
    }
    .nav-link{
      
        padding: .8rem 1rem!important;
        margin-right:10px;
        display: block;
        text-align: left;
        letter-spacing: 0px;
        color: #222222!important;
        opacity: 1;
        font-family: 'OpenSans-Regular';
    }
    .selecheaderlang{
      margin-right: 40px;
      border: none;
      font-size: 1rem;
      font-family: 'OpenSans-Regular';
    }
    
    .nav-link:hover{
      color:#773DDC!important;
    }
    .blackfont{
        color:#000!important;
    }
    .login-btn-h{
        color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        margin-right: 5px;
        background-color: #000;
    }
    .log-af-btn{
        background: transparent;
        color: #000;
        border: 1px solid #000;
        border-radius: 4px;
    }
    .active{
      color:#773DDC!important;
      border-bottom:1px solid #773DDC;
      /* height: 62px; */
    }
    .site-navbar {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      opacity: 0.9;
      }
      .sticky{
        opacity:1!important; 
      }
      .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        justify-content: flex-end;
        margin-top: 10px;
    }
    
      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right:10px;
        font-size: 36px;
        margin-left: 50px;
      } 
    .tab-menu{
      font-size: 26px!important;
      position: absolute;
      right: 15px;
      top: 23px;
      display: none!important;
    }  
    .logoimg1{
      width: 45%;
      padding: 10px;
    }

      /* Home page css start */
      .knowmorebtn{
        margin-top: 20px;
        background: #773DDC 0% 0% no-repeat padding-box;
        border-radius: 8px;
        color: #fff;
        padding: 10px 20px 10px 20px;
        border: none;
      }
.medicaltabcontainer{
  border-left:2px solid #ddd
}
.medicaltab1{
  margin-left:-7px;
  margin-top: 15px;
}
.medicaltab1 label{
  padding-left: 10px;
  color: #222222;
  font-family:OpenSans-Bold;
  font-size: 1.1rem;
}
.medicaltab1 .Ckekbox{
  padding-left: 20px;
}
.medicaltab1 input[name="Physician1"]{
  accent-color:#773DDC;
  cursor:pointer
}
      .home-sec-1{
        background-image:url("assets/img/home/home.webp");
       
        background-repeat: no-repeat;
        height: 526px;
        background-size: cover;
    }
    .home-banner{
        padding-top: 197px;
    }
    .title-head{
        text-align: left;
        letter-spacing: 0.12px;
        color: #002F4B;
        font-family: OpenSans-ExtraBold;
        font-size:3rem;
    }
    .banner-text{
        font-size:1.4rem;
        font-family:OpenSans-Bold;
        color:#002F59;
    }
.downloadbtn{
    width: 24%;
    border: none;
    margin-right: 20px;
}
.downloadbtn img{
width: 100%;
border-radius: 4px;
}
.section-2-video{
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    border: 10px solid #DC773D;
    border-top-color:#fff;
    border-top-style: solid;
    border-right-color:#fff;
    border-right-style: solid;
    border-radius: 3px;
}
.commontitle{
    color: #002F4B;
    font-family:OpenSans-Bold;
    font-size:3rem;
}
.commonsectionmt{
 margin-top: 100px; 
}
.commonsectionbt{
  margin-bottom: 100px;
 }
.home-sec-3{
    padding:70px 70px;
    background: #f5fbea;
}

.home-sec-3 .swiper-wrapper{
    text-align: center;
}
.home-sec-3 p{
    padding: 20px 0px 20px 0px!important ;
}
.home-sec-5{
    background-image: url('assets/img/home/home-sec-5-bg-small.webp');
    background-repeat: no-repeat;
    padding: 70px 70px;
    background-size: cover;

}
.home-sec-5 p{
    color: #fff;
    text-align: center;
}
.home-sec-5 h3{
  color: #fff;
  text-align: center;
}
.home-sec-4{
  position: relative;
}

.home-sec-5 h3{
font-size: 3rem;
font-family:OpenSans-Bold;
}
.downloadimg{
  width: 100%;  
}
.home-sec-6 .downloadbtn{
  width: 60%;
  border: none;
}
.googleplaydiv{
  margin-top: 140px;
}
.googleappstorediv{
  margin-top: 70px;
}
/* Resource  page css */
.resource-sec-1{
  margin-top:170px;
}
.resource-sec-1 ul li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
  color: #DC773D;
}
.resource-sec-1 h2{
  color: #002F59;
  font-weight: bold;
  font-family: 'OpenSans-Bold';
  font-size: 16px;
}
/* Service page css */
.testimonialtitle{
  font-size: 1rem;
  color: #3D52DC;
  padding-top: 15px;
  padding-left: 10px;
  font-family:OpenSans-Bold;
}
.testimonialtext{
font-size: .9rem;
}
.service-sec-1{
    background-image: url('./assets/img/service/service-banner-small.webp');
    margin-top:70px!important;
    height:516px;
    background-size:cover;
    background-repeat: no-repeat;
}
.service-banner{
  padding-top: 80px;
}
.service-sec2-card{
  border: 1px solid #DCDCDC;
  height: 250px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 78px;
}
.service-sec2-card img{
    display: block;
    margin: 25px auto;
}
.servicesec2commontext{
text-align: center;
padding: 10px 10px 30px 10px;
}
.service-sec-3{
  background: #F5FBEA 0% 0% no-repeat padding-box;
  padding: 30px 30px;

}
.whychatadocimg{
  /* width: 100%; */
}
.servicedownloadbtncontaner{
background: #773DDC 0% 0% no-repeat padding-box;
border-radius: 4px;
padding: 10px 20px 10px 20px;
color:#fff;
border: none;
width: 220px;
}

.downloadapp{
 
}
.service-sec-3 ul{
  list-style: none;
  margin-left: 0px!important;
  padding-left:0rem;
}

  .service-sec-3 ul li:first-child{
    padding: 15px 0px 15px 0px;
  
}
.service-sec-3 ul li{
   padding: 0px 0px 15px 0px;
}
.takeyourfirststep{
  background: #773DDC 0% 0% no-repeat padding-box;
  border-radius: 8px;
  color: white;
  border: 2px;
  padding: 10px 20px 10px 20px;
  font-family:OpenSans-Regular;
  font-size: 1rem;
  text-decoration: none;
  position: absolute;
  z-index: 1020;
}
.takeyourfirststep:hover{
  color: white;
}
/* section 4 slider */
.service-sec-4 .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
  width: 60px;
  background: #773DDC;
}

.service-sec-4 .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: 'prev';
  font-size: 22px;
  color: #fff;
}
.service-sec-4 .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: 'next';
  font-size: 22px;
  color: #fff;
}
.service-sec-4 .swiper-slide {
  padding: 0px 0px 70px 0px;
}
.service-sec-4 .swiper-button-next {
  top:74%!important;
}
.service-sec-4 .swiper-button-prev {
  top:74%!important;
}
.service-sec-4 .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom:100px;
  left: 0;
  width:100%!important;
}
.service-sec-4 .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left:41%;
  right: 50%;
  background: #773DDC;
  width: 60px;
}

.service-sec-4 .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    left: 54%;
    right: 50%;
    background: #773DDC;
    width: 60px;
}
/* section 5  slider */

.service-sec-5 .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
  width: 60px;
  background: #773DDC;
}

.service-sec-5 .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: 'prev';
  font-size: 15px;
  color: #fff;
}
.service-sec-5 .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: 'next';
  font-size:15px;
  color: #fff;
}
.service-sec-5 .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom:55px;
}
.service-sec-5 .swiper-slide {
  padding: 0px 0px 70px 0px;
}
.service-sec-5 .swiper-button-next {
  top:96%!important;
}
.service-sec-5 .swiper-button-prev {
  top:96%!important;
}
.service-sec-5 .swiper-container-horizontal > .swiper-pagination-bullets {
  /* bottom: 10px;
  left: 0;
  width: 35%!important; */
}
.service-sec-5 .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 45%;
  right: 50%;
  background: #773DDC;
  width: 46px;
}

.service-sec-5 .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    left: 51%;
    right: 50%;
    background: #773DDC;
    width: 46px;
}




/* Section 6 slider */
.service-sec-6 .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 44px;
  left: 28px;
  width: 100%;
}

.service-sec-6 .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
  width: 60px;
  background: #773DDC;
}

.service-sec-6 .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: 'prev';
  font-size: 22px;
  color: #fff;

}
.service-sec-6 .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: 'next';
  font-size: 22px;
  color: #fff;

}
.service-sec-6 .swiper-slide {
  padding: 0px 0px 0px 0px;
}
.service-sec-6 .swiper-button-next {
  top:96%!important;
}
.service-sec-6 .swiper-button-prev {
  top:96%!important;
}
.service-sec-6 .swiper-container-horizontal > .swiper-pagination-bullets {
  /* bottom: 10px;
  left: 0;
  width: 35%!important; */
}
.service-sec-6 .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 47%;
  right: 50%;
  background: #773DDC;
  width: 60px;
  display: none;
}

.service-sec-6 .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    left: 53%;
    right: 50%;
    background: #773DDC;
    width: 60px;
    display: none;
}

.service-sec-6 .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  /* display: none; */
}
.service-sec-6 .swiper-button-next, .swiper-container-rtl .swiper-button-next {
  /* display: none; */
}



.service-sec-5{
  background: #DC773D 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;

}
.drimg{
  margin: auto;
  display: block;
  position: relative;
  z-index: 1;
  width:15%;
}
.pathimg{
  width:40px;
  display: block;
  margin: -25px auto;
}
.connectnow{
    background-color: #773DDC!important;
    color: #fff!important;
    font-size: open;
    font-family:OpenSans-Regular;
    font-size: 1rem;
}
.connecttextnow{
  color: #fff;
  text-align: center;
}
/* .downloadapp span{
  padding: 0 15px 0px 0px;
} */
.servicedownloadbtncontaner a{
  padding: 0 0px 0px 15px;
}
.ouradvisoryboardcontentcontainer h3,h5{
color: #fff;
font-family:OpenSans-Bold!important;
font-size: 1.3rem;
text-align: center;

}
.ouradvisoryboardcontentcontainer h3{
  margin-top:30px;
  font-family:OpenSans-Bold!important;
  font-size: 1.3rem;
  
  }
.ouradvisoryboardcontentcontainer h5{

  font-size: 1rem;


  }
  .servicecaersec-6{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #00000029;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    opacity: 1;
    padding: 20px;
  }
  .cardline{
    height: 2px;background:#fff;margin:20px 0px 20px 0px;
  }
  .defultshow{
    background: #DC773D 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    color: #fff;
  }
  .commonpad{
    padding: 15px;
    cursor: pointer;
    position: relative;
  }
  .hiding{
    background: #EBEBEB 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  
  }

  .iconCustom{
    position: absolute;
    right: 16px;
    top: 18px;
    font-size: 26px!important;
    transform: rotate(-90deg);
  }
  .morequestionbtn{
    background: #773DDC;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    color: #fff;
    font-family: 'OpenSans-Regular';
  }
  .pline{
    font-family: 'OpenSans-Regular';
    font-size: 1.3rem;
  }
  .reflink{
    text-align: right;
  }
  .reflink a{
    color:#773DDC;
  }
  .reflink a:hover{
    color:#773DDC;
  }
/* How it work section css */
.howitworkbannerimg{
width: 100%;
}
.howitwork-sec-1 .howitwork-banner{
  padding-top:150px;
}
.howitwork-sec-1{
  padding-top: 30px;
  background: #dc3d700f 0% 0% no-repeat padding-box;

}
.htw-common{
  text-align: center;
  padding: 6rem 0rem 1rem 0rem;
  position: relative;
  float: left;
  width:25%;
}
.htw-common p{
  font-size: .9rem;
}
.htw-common2 p{
  font-size: .8rem;
}
/* .htw-common2{
  text-align: center;
  width:24%;
  padding: 4rem 1rem 1rem 1rem;
  position: relative;
  float: left;
} */

.howitwork-bg{
  background-image: url("assets/img/howitwork/simplestepimg.png");
  margin-left: 0px;
  background-size: contain;
  height: 443px;
  background-repeat: no-repeat;
}
.howitwork-bg img{
  height: 71px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.howitwork-bg h4{
  color: #222222;
  font-size:1.2rem;
  font-family:OpenSans-Bold;
}
.howitwork-bg h3{
  color: #222222;
  font-size:1.2rem;
  font-family:OpenSans-Bold;
}
/* contact us css */
.contactus-sec-1{
  margin-top:40px!important;background-image: url(assets/img/contactus/contactusbanner-small.png); height:456px;background-size: cover;
}
.contactus-sec-3{
  background: #fef8f5 0% 0% no-repeat padding-box;
  padding: 40px 40px;
}
.contactustitle{
    color: #002F59;
    font-size: 1.8rem;
    font-family: OpenSans-Bold;

}
.submitbtn{
  background: #773DDC 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  border:none;
  padding: 10px 30px 10px 30px;
  color:#fff;
}
.contactus-sec-4 img{
  width: 100%;

}
.socialiconcommon{
 width: 48px!important;
 height: 48px;
 margin:0px 20px 0px 0px;
}
.img{
  width: 500px;
  height: 350px;
}


/* footer css start */
.flagIcon {
  margin-right: 6px;
  margin-left: 14px;
  width: 30px;
}
.footerdownloadbtn{
  background: #773DDC 0% 0% no-repeat padding-box;
  border-radius: 4px;
  padding: 5px 4px 5px 7px;
  color: #fff;
  border: none;
  width: 162px;
  font-size: .8rem;
  margin-top:px;
  margin-bottom: 20px;

}
.footerdownloadbtn img {
  padding-left: 10px;
}
.footertop{
    background: #F1EBFC;
    padding: 60px 0px 0px 0px;
    margin-top: -30px;
}
.footertop h3{
    font-family: 'OpenSans-Bold';
    color: #222222;
    font-size: 20px;
    margin-left:30px;

}
.footertop ul{
    list-style: none;
}
.footertop ul li a{
    color: #222222;
    font-size: .8rem;
    text-decoration: none;
}
.social{
    margin-left:12px;
}
.footer2{
    background: #E5D9F9 0% 0% no-repeat padding-box;
    padding: 10px  0px 10px 0px;
    
}
.footer3{
    padding: 5px  0px 5px 0px;
}
.footer3 p{padding-bottom: 0!important;margin-bottom: 0!important;}
.callbackbtn{
    background: #773DDC 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    font-family:OpenSans-Regular;

}
      /* Media query start.............. */

      @media (min-width:768px) and (max-width:1024px) { 
        .service-sec2-card {
          margin-bottom: 30px;
      }
        .home-sec-1 {
          background-position: right center;
      }
      .home-banner {
        padding-top: 100px;
    }
    .howitwork-sec-1 .howitwork-banner {
      padding-top: 65px;
     }
     .howitwork-bg {
      background-image: url("assets/img/howitwork/stepmobileview.png");
      background-position: center;
      height: auto;
      background-size:60% 100%;
  }
  .htw-common {
    text-align: center;
    padding: 3rem 0rem 6rem 0rem;
    position: relative;
    float: left;
    width: 100%;
}
/*       
        .hide-moible{
          display:none!important;
        } */
        .navbar-expand-lg {
          justify-content: flex-start!important;
      }
        .tab-menu{
          display: block!important;
        }
        .logoimg1{
          width: 10%;
        }
        /* Header */
        .mobilehide{
          display: none!important;
        }
        

.service-sec-1 {
  background-position: right;
}
      }
      
      @media (min-width:480px) and (max-width:767px) { 
        .howitwork-bg {
          background-image: url("assets/img/howitwork/stepmobileview.png");
          background-position: center;
          height: auto;
          background-size:60% 100%;
      }
      .htw-common {
        text-align: center;
        padding: 0rem 0rem 6rem 0rem;
        position: relative;
        float: left;
        width: 100%;
    }
        /* .hide-moible{
          display:block;
        } */
        .navbar-expand-lg {
          justify-content: flex-start!important;
      }
        .tab-menu{
          display:block!important;
        }
        .logoimg1{
          width:11%;
        }
        /* Header */
        .mobilehide{
          display: none!important;
        }
        .title-head {
          font-size: 1.4rem;
      }
      .banner-text{
        font-size: 1.3rem;
      }

    .service-sec-1 {
    
        background-position: right;
    }
    .service-sec2-card {
      margin-bottom: 30px;
    }
    .whychatadocimg {
      margin-top: 30px;
  }
  .service-sec-6 .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 2px;
}
.takeyourfirststep {bottom:0px}
      }
      @media (min-width:320px) and (max-width:480px) {
        .footertop h3 {
          margin-left:0px;
      }
      .fmt-20{
        margin-top: 20px!important;
      }
      .footertop ul{
        padding-left: 0px;
      }
        .section{
          padding: 0px 20px 0px 20px;
        } 
        .service-sec-4 h3{
            margin-top: 30px;
        }
        .headerdownloadbtn {
          margin-bottom: 20px;
      }
        /* slider css */
        .service-sec-4 .swiper-container-horizontal > .swiper-pagination-bullets {
          width: 100%!important;
      }
      .service-sec-6 .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom:25px;
        left: 28px;
    }
    .mobile-viewsec-5 .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom:0px;
      left: 28px;
  }
        .desktopviewsec-5{
          display: none;
        }
      .home-sec-5 .swiper-pagination{
        display: inline-block;
        }
  
        .home-sec-3 .swiper-pagination{
          display: inline-block;
          }
    
        /* home page  */
        .mobilemt{
          margin-bottom: 40px;
        }
        .googleplaydiv {
          margin-top: 25px;
      }
      .googleappstorediv {
        margin-top: 15px;
    }
    .commonsectionmt {
      margin-top: 60px;
  }
  .footertop {
    margin-top: -8px;
}
        .mobile-viewsec-5{
          display: inline-block;
        }
        .home-sec-3{
          padding-top: 30px;
        }
        .homemobilebannerimgcont{
          display:block;
          padding:0;
          margin: 0;
        }
        .home-sec-3 p {
          padding: 0px 0px 20px 0px!important;
      }
        .homemobilebannerimgcont img{
          width: 100%;
          margin-top:50px;
        }
        .commontitle {
          font-size: 1.6rem;
      }
        .home-sec-1{
          background-image: none;
          height: auto;
          
        }
        .title-head {
          font-size: 1.4rem;
      }
      .home-banner{
        padding-top:120px;
      }
      /* service page */
      .service-sec-1{
        background-image: none;
        height: auto;
      }
      .service-banner{
        padding-top:30px
      }
      .service-sec-2{
          margin-top:50px;
      }
      .service-sec2-card {
        margin-bottom: 30px;
    }
    .servicedownloadbtncontaner {
      margin-bottom: 30px;
  }
  .swiper-button-prev{
    display: none!important;
  }
  .swiper-button-next{
    display: none!important;
  }
.drimg{
width: 40%;
}
.commonmobilemarginbt{
  margin-bottom: 40px;
}
.contactus-sec-1{
 background-image: none;
 height: auto;
}
        /* Header */
        .mobilehide{
          display: none!important;
        }
        /* how it work  */
        .howitwork-sec-1 {
          padding: 0px 0px 100px 0px;
        }
        .howitworkbannerimg{
          padding-top: 50px;
        }
        .htw-common {
          width: 100%;
          padding: 26px 18px 54px 20px;
        }
        .howitwork-bg{
          background-image: url("https://chatadoc.com/assets/img/howitwork/stepmobileview.png");
          background-position: center;
          height: auto;
          background-size: 85% 100%;
        }
       .site-logo{
         width: 50%;
         float:left;
       } 
       .tab-menu{
        display: block!important;
       }
      .navbar-expand-lg {
          flex-wrap: nowrap;
          justify-content: flex-start!important;
      }

      .resource-sec-1 ul{
        margin-left: 0px;
        padding-left: 0px!important;
      }
      .takeyourfirststep{
        bottom:10px;
      }
      .banner-text{
        font-size: 1.3rem;
      }
      .flagIcon {
        margin-left:0px;
      }
      .flagIconmobile{
        margin-left:10px
      }
      }  